@inherits EntBaseComponent
@namespace Enter.UI.Components
@using Enter.UI.Core;
<div @attributes="@Attributes" style="@Style" class="@cssClass">
    <b class="cl-mute">@Title</b>
    @ChildContent
</div>

@code {
    
    protected string cssClass => CssClassBuilder
        .AddClass("ent-app-bar")
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

} 