@inherits EntBaseComponent
@namespace Enter.UI.Components.Layout
@using Enter.UI.Core;
<div @attributes="@UserAttributes" style="@Style" class="@cssClass">
    <b class="cl-mute">@Title</b>
    @ChildContent
</div>

@code {
    
    protected string cssClass => new CssClassBuilder("ent-app-bar")
      .AddClass(Class)
      .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

} 