
:root {
  
  // background
  --ent-bg-body : #ffffff;
  --ent-bg-page : #f2f2f2;
  --ent-bg-secondary : #f1f1f2;
  --ent-bg-tertiary : #f9f9f9;
  --ent-bg-light : #f1f1f2;
  --ent-bg-dark : #212529;
  
  // color
  --ent-color-body: #071437;
  --ent-color-emphasis : #000000;
  --ent-color-secondary: rgba(7, 20, 55, 0.75);
  --ent-color-tertiary: rgba(7, 20, 55, 0.5);
  --ent-color-light: #ced4da;
  --ent-color-dark: #071437;
  --ent-color-heading: #071437;
  --ent-color-link: #009ef7;
 

  // border
  --ent-border-color: #eee;
  --ent-border-width: 1px;
  --ent-border-style: solid;
  --ent-border-radius: 0.5rem;
  
  // shadow
  --ent-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.05);
  
  --ent-body-font-size: 0.9375rem;
  --ent-body-font-size-space: 0.0625rem;
  --ent-body-font-weight: 400;
  --ent-body-line-height: 1.5;

  //z-index
  --ent-z-index-top: 100;
  --ent-z-index-secondary: 50;
  --ent-z-index-tertiary: 30;
  --ent-z-index-emphasis: 10;
  
}