:root {
  --ent-color-primary : #00ADB5;
  --ent-color-secondary : #f3f3f9;
  
  --ent-color-deeplight : #f3f3f9;
  --ent-color-light : #f9fbfc;
  --ent-color-softlight : #ffffff;
  --ent-color-softdark : #292e32;
  --ent-color-dark : #212529;
  --ent-color-deepdark : #1a1d21;

  --ent-color-border : #eee;

  --ent-color-text : #212529;
  
  --ent-body-font-size: 0.875rem;
  --ent-body-font-size-space: 0.0625rem;
  --ent-body-font-weight: 400;
  --ent-body-line-height: 1.5;
}