.ent-dark-mode {
  
        --ent-color-primary : #00ADB5;
        --ent-color-secondary : #292e32;

        --ent-color-softlight : #1a1d21;
        --ent-color-light : #212529;
        --ent-color-deeplight : #292e32;
        --ent-color-softdark : #f3f3f9;
        --ent-color-dark : #F4F4F2;
        --ent-color-deepdark : #f9fbfc;

        --ent-color-text : #F4F4F2;

        --ent-color-border : #333;
    
}