@inherits EntBaseComponent
@namespace Enter.UI.Components

<div class="@cssClass" style="@Style" @attributes="@UserAttributes">
@if (Parent.KeepPanelAlive)
{
    
        @ChildContent
    
}else
{
    @if (Parent.IsActivePanel(TabId))
    {
        @ChildContent
    }
}
</div>






