@import "media-query.mixins";
@import "spacing.mixins";
@import "typography.mixins";
@import "boxing.mixins";

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content
  }
}

@function normalizeString($string, $delimiter) {
  $list: ();
  $word: '';

  @for $i from 1 through str-length($string) {
    $char: str-slice($string, $i, $i);

    @if $char == $delimiter {
      @if $word != '' {
        $list: append($list, $word);
        $word: '';
      }
    } @else {
      $word: #{$word}#{$char};
    }
  }

  @if $word != '' {
    $list: append($list, $word);
  }

  @return $list;
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
