@namespace Enter.Ui.Components
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent
<li @attributes="@AdditionalAttributes" class="@ClassNames">

    @ChildContent
</li>

@code {
    public override string ComponentName => nameof(EntListItem);
    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-list-item");
        base.BuildClasses(builder);
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}