@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntComponentBase
<li @attributes="@AdditionalAttributes" class="@ClassNames">

    @ChildContent
</li>

@code {

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-list-item");
        base.BuildClasses(builder);
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}