@namespace Enter.Ui.Components
@inherits Enter.Ui.Cores.Bases.EntComponentBase
<li @attributes="@AdditionalAttributes" class="@RootCss">

    @ChildContent
</li>

@code {

    private string RootCss => CssBuilder
        .AddCss("ent-list-item")
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public override void Dispose()
    {
    }

}