:root {

  --ent-border-0: 0;
  --ent-border-1: 1px;
  --ent-border-2: 2px;
  --ent-border-3: 3px;
  --ent-border-4: 4px;
  --ent-border-8: 8px;

  --ent-border-radius-0: 0px;
  --ent-border-radius-1: 2px;
  --ent-border-radius-2: 4px;
  --ent-border-radius-3: 6px;
  --ent-border-radius-4: 8px;
  --ent-border-radius-round: 16px;
  --ent-border-radius-full: 100%;

  --ent-border-color: #eaeaea

}

html[data-theme="dark"] {
  --ent-stroke-base: #3b3b3b;
}