:root {

  --ent-space-0: 0px;
  --ent-space-0_5: 2px;
  --ent-space-1: 4px;
  --ent-space-1_5: 6px;
  --ent-space-2: 8px;
  --ent-space-2_5: 10px;
  --ent-space-3: 12px;
  --ent-space-3_5: 14px;
  --ent-space-4: 16px;
  --ent-space-5: 20px;
  --ent-space-6: 24px;
  --ent-space-7: 28px;
  --ent-space-8: 32px;
  --ent-space-9: 36px;
  --ent-space-10: 40px;
  --ent-space-11: 44px;
  --ent-space-12: 48px;
  --ent-space-16: 64px;
  --ent-space-20: 80px;
  --ent-space-25: 100px;
  --ent-space-50: 200px;
  
}