:root {

  --ent-typo-font-size-xxs: 8px;
  --ent-typo-font-size-subtitle: 10px;
  --ent-typo-font-size-sm: 12px;
  --ent-typo-font-size-md: 14px;
  --ent-typo-font-size-lg: 16px;
  --ent-typo-font-size-heading6: 18px;
  --ent-typo-font-size-heading5: 20px;
  --ent-typo-font-size-heading4: 22px;
  --ent-typo-font-size-heading3: 24px;
  --ent-typo-font-size-heading2: 26px;
  --ent-typo-font-size-heading: 28px;

  --ent-typo-line-height-xxs: 8px;
  --ent-typo-line-height-subtitle: 12px;
  --ent-typo-line-height-sm: 16px;
  --ent-typo-line-height-md: 20px;
  --ent-typo-line-height-lg: 24px;
  --ent-typo-line-height-heading6: 28px;
  --ent-typo-line-height-heading5: 32px;
  --ent-typo-line-height-heading4: 36px;
  --ent-typo-line-height-heading3: 40px;
  --ent-typo-line-height-heading2: 44px;
  --ent-typo-line-height-heading: 48px;


}