@page "/"
@using Enter.UI.Services.Contracts;
@using Enter.UI.Components
<PageTitle>Index</PageTitle>
<div class="d-flex flex-column">
    <EntMdiTab ItemDirection="EntTabItemDirection.Horizontal"
               KeepPanelAlive="true"
               PanelClass="bg-light"
               ActiveClass="bg-light"
               Closeable="true"
               Direction="EntTabDirection.Vertical" class="border-0 flex-grow-1">
        <div class="p-4">
            <EntCard class="mb-4">
                <CardContent>
                    <div class="d-flex flex-column">
                        <b>این صفحه پیشفرض EntMdiTab میباشد</b>
                    </div>
                </CardContent>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>کامپوننت - دکمه</CardHeader>
                <CardContent>
                    <div class="d-flex space-x items-center">
                        <EntButton type="button" Size="ButtonSize.Large">دکمه بزرگ</EntButton>
                        <EntButton type="button" Size="ButtonSize.Default">دکمه معمولی</EntButton>
                        <EntButton type="button" Size="ButtonSize.Small">دکمه کوچک</EntButton>
                    </div>
                </CardContent>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>کامپوننت - مدال</CardHeader>
                <CardContent>
                    <div class="d-flex space-x">
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.ExtraLarge)">باز کردن مدال ExtraLarge</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Large)">باز کردن مدال Large</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Medium)">باز کردن مدال Medium</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Small)">باز کردن مدال Small</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Fullscreen)">باز کردن مدال FullScreen</EntButton>
                    </div>
                </CardContent>
            </EntCard>
        </div>
    </EntMdiTab>
</div>


@code {

    [Inject]
    public IModalService ModalService { get; set; }

    public async Task OpenModal(EntModalSize size)
    {
        var result = await ModalService.ShowAsync<Counter>("sada", new EntModalOptions()
        {
            Size = size
        });
    }

}