@page "/"
@using Enter.Dashboard.Model;
@using Enter.UI.Services.Contracts;
@using Enter.UI.Components
@using Enter.UI.Core.Constants

<PageTitle>Index</PageTitle>

<div class="d-flex flex-column">
    <EntMdiTab ItemDirection="EntTabItemDirection.Horizontal"
               KeepPanelAlive="true"
               PanelClass="bg-light"
               ActiveClass="bg-light"
               Closeable="true"
               Direction="EntTabDirection.Vertical" class="border-0 flex-grow-1">
        <div class="p-4">
            <EntCard class="mb-4">
                <CardBody>
                    <div class="d-flex flex-column">
                        <b>این صفحه پیشفرض EntMdiTab میباشد</b>

                    </div>
                </CardBody>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>کامپوننت - دکمه</CardHeader>
                <CardBody>
                    <div class="d-flex flex-column space-y-4 laptop:items-center  laptop:flex-row laptop:space-x-4 laptop:space-y-0">
                        <EntButton type="button" Size="ButtonSize.Large">دکمه بزرگ</EntButton>
                        <EntButton type="button" Size="ButtonSize.Default">دکمه معمولی</EntButton>
                        <EntButton type="button" Size="ButtonSize.Small">دکمه کوچک</EntButton>
                    </div>
                </CardBody>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>کامپوننت - مدال</CardHeader>
                <CardBody>
                    <div class="d-flex flex-column space-y-4 laptop:items-center  laptop:flex-row laptop:space-x-4 laptop:space-y-0">
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.ExtraLarge)">باز کردن مدال ExtraLarge</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Large)">باز کردن مدال Large</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Medium)">باز کردن مدال Medium</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Small)">باز کردن مدال Small</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Fullscreen)">باز کردن مدال FullScreen</EntButton>
                    </div>
                </CardBody>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>پاپ آور</CardHeader>
                <CardBody>
                    <EntButton Click="OpenPopover">باز کردن</EntButton>
                    <EntPopover Open="IsPopoverOpen" RelativeWidth="true">
                        <EntCard>
                            <CardBody>
                                <p>ssss</p>
                            </CardBody>
                        </EntCard>
                    </EntPopover>
                </CardBody>
            </EntCard>

            <EntCard class="mt-4">
                <CardHeader>درخت</CardHeader>
                <CardBody>
                    <EntTreeView class="mb-4"
                                 DataSource="Constants.Roles"
                                 TextFunc="x => x.Title"
                                 ValueFunc="x => x.Value"
                                 @bind-SelectedValues="TreeSelectedValue"/>
                    @foreach (var item in TreeSelectedValue)
                    {
                        <span class="me-2">
                            @item
                        </span>
                    }
                </CardBody>
            </EntCard>
            <EntCard class="mt-4">
                <CardHeader>فرم</CardHeader>
                <CardBody>

                    <b class="mb-2">ورودی پرشونده خودکار</b>
                    <EntInputAutoComplete class="mb-4"
                                          @bind-Value="AutoCompleteValue"
                                          DataSources="AutoCompleteDataSource"
                                          ValueFunc="x => x.Name"
                                          OnSearchChange="OnSearchChangeCallBack"/>
                    <b class="mb-2">ورودی انتخابی</b>
                    <EntInputSelect
                        @bind-Value="SelectValue"
                        PlaceHolder="نقش مورد نظر را انتخاب نمایید"
                        DataSources="Constants.Roles"
                        ValueFunc="x => x.Value"
                        TextFunc="x => x.Title"/>
                </CardBody>
            </EntCard>

        </div>
    </EntMdiTab>
</div>

@code {
    public List<string> TreeSelectedValue { get; set; } = new List<string>();
    public bool IsPopoverOpen { get; set; }
    public string AutoCompleteValue { get; set; }
    public string SelectValue { get; set; }

    public List<Users> AutoCompleteDataSource { get; set; } = Constants.Users;

    [Inject]
    public IModalService ModalService { get; set; }

    public async Task OpenModal(EntModalSize size)
    {
        var result = await ModalService.ShowAsync<Counter>("sada", new EntModalOptions()
        {
            Size = size
        });
    }

    private async Task OpenPopover()
    {
        IsPopoverOpen = !IsPopoverOpen;
    }

    private async Task OnSearchChangeCallBack(string search)
    {
        AutoCompleteDataSource = Constants.Users.Where(x => x.Name.Contains(search)).ToList();
    }

}