@page "/"
@using Enter.Dashboard.Model;
@using Enter.UI.Services.Contracts;
@using Enter.UI.Components
@using Enter.UI.Core.Constants

<PageTitle>Index</PageTitle>

<EntFlex Direction="FlexDirection.Column">
    <EntMdiTab ItemDirection="EntTabItemDirection.Horizontal"
               KeepPanelAlive="true"
               PanelClass="bg-light"
               ActiveClass="bg-light"
               Closeable="true"
               Border="0"
               FlexFill="true"
               Direction="EntTabDirection.Vertical" >
        <EntDivision Padding="4">
            <EntCard >
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column">
                        <b>این صفحه پیشفرض EntMdiTab میباشد</b>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard MarginTop="4">
                <CardHeader>کامپوننت - دکمه</CardHeader>
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column"
                             LaptopDirection="FlexDirection.Row"
                             LaptopAlign="FlexAlign.StartCenter"
                             Gap="4">
                        <EntButton type="button" Size="ButtonSize.Large">دکمه بزرگ</EntButton>
                        <EntButton type="button" Size="ButtonSize.Default">دکمه معمولی</EntButton>
                        <EntButton type="button" Size="ButtonSize.Small">دکمه کوچک</EntButton>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard MarginTop="4">
                <CardHeader>کامپوننت - مدال</CardHeader>
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column"
                             LaptopDirection="FlexDirection.Row"
                             LaptopAlign="FlexAlign.StartCenter"
                             Gap="4">
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.ExtraLarge)">باز کردن مدال ExtraLarge</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Large)">باز کردن مدال Large</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Medium)">باز کردن مدال Medium</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Small)">باز کردن مدال Small</EntButton>
                        <EntButton type="button" Click="() => OpenModal(EntModalSize.Fullscreen)">باز کردن مدال FullScreen</EntButton>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard MarginTop="4">
                <CardHeader>پاپ آور</CardHeader>
                <CardBody>
                    <EntButton Click="OpenPopover">باز کردن</EntButton>
                    <EntPopover Open="IsPopoverOpen" RelativeWidth="true">
                        <EntCard>
                            <CardBody>
                                <p>ssss</p>
                            </CardBody>
                        </EntCard>
                    </EntPopover>
                </CardBody>
            </EntCard>

            <EntCard MarginTop="4">
                <CardHeader>درخت</CardHeader>
                <CardBody>
                    <EntTreeView MarginBottom="4"
                                 DataSource="Constants.Roles"
                                 TextFunc="x => x.Title"
                                 ValueFunc="x => x.Value"
                    @bind-SelectedValues="TreeSelectedValue" />
                    @foreach (var item in TreeSelectedValue)
                    {
                        <span class="me-2">
                            @item
                        </span>
                    }
                </CardBody>
            </EntCard>
            <EntCard MarginTop="4">
                <CardHeader>فرم</CardHeader>
                <CardBody>

                    <b class="mb-2">ورودی پرشونده خودکار</b>
                    <EntInputAutoComplete class="mb-4"
                    @bind-Value="AutoCompleteValue"
                                          DataSources="AutoCompleteDataSource"
                                          ValueFunc="x => x.Name"
                                          OnSearchChange="OnSearchChangeCallBack" />
                    <b class="mb-2">ورودی انتخابی</b>
                    <EntInputSelect @bind-Value="SelectValue"
                                    PlaceHolder="نقش مورد نظر را انتخاب نمایید"
                                    DataSources="Constants.Roles"
                                    ValueFunc="x => x.Value"
                                    TextFunc="x => x.Title" />
                </CardBody>
            </EntCard>

        </EntDivision>
    </EntMdiTab>
</EntFlex>

@code {
    public List<string> TreeSelectedValue { get; set; } = new List<string>();
    public bool IsPopoverOpen { get; set; }
    public string AutoCompleteValue { get; set; }
    public string SelectValue { get; set; }

    public List<Users> AutoCompleteDataSource { get; set; } = Constants.Users;

    [Inject]
    public IModalService ModalService { get; set; }

    public async Task OpenModal(EntModalSize size)
    {
        var result = await ModalService.ShowAsync<Counter>("sada", new EntModalOptions()
            {
                Size = size
            });
    }

    private async Task OpenPopover()
    {
        IsPopoverOpen = !IsPopoverOpen;
    }

    private async Task OnSearchChangeCallBack(string search)
    {
        AutoCompleteDataSource = Constants.Users.Where(x => x.Name.Contains(search)).ToList();
    }

}