@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntBaseComponent
@typeparam T
<CascadingValue Value="this">
    <table @attributes="AdditionalAttributes" class="@ClassNames">
        @if (HeaderTemplate != null)
        {
            <thead>
            @HeaderTemplate
            </thead>
        }
        @if (DataSources != null)
        {
            <tbody>
            @foreach (var item in DataSources.Where(item => RowTemplate != null))
            {
                @RowTemplate?.Invoke(item)
            }
            </tbody>
        }


    </table>
</CascadingValue>