@namespace Enter.UI.Components
@inherits EntBaseComponent

<div @attributes="@AdditionalAttributes" class="@RootClass" >
    @if (CardHeader != null)
    {
        <div class="ent-card-header">
            @CardHeader
        </div>
    }
    <div class="ent-card-content">
        @CardBody
    </div>
    @if (CardFooter != null)
    {
        <div class="ent-card-footer">
            @CardFooter
        </div>
    }

</div>

@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-card")
        .Build();

    [Parameter]
    public RenderFragment? CardBody { get; set; }

    [Parameter]
    public RenderFragment? CardHeader { get; set; }

    [Parameter]
    public RenderFragment? CardFooter { get; set; }

}