**/bin/
**/obj/

**/node_modules/

.github
.idea
.vs
**/*/Enter.Ui.min.css
**/*/Enter.Ui.min.js
**/*/Enter.Ui.css
**/*/Enter.Ui.js
**/*/EnterUi.min.css
**/*/EnterUi.min.js
**/*/EnterUi.css
**/*/EnterUi.js
**/combined

**/*/package-lock.json

**/*/*.razor.css
/*.razor.css
*.razor.css