@namespace Enter.UI.Components
<div class="@RootCss">@ChildContent</div>
@inherits EntComponentBase
@code {

    public string RootCss => CssClassBuilder
        .AddClass($"ent-drawer-container")
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    

}