.ent-card {
  display: flex;
  flex-direction: column;
  border:$border;
  > .ent-card-header {
    padding: 1rem;
    background-color: map-get($colors,"bg-light");
  }

  > .ent-card-content {
    padding: 1rem;
    background-color: #fff;
  }

  > .ent-card-footer {
    padding: 1rem;
    background-color: map-get($colors,"bg-light");
  }
  
}