.ent-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .ent-layout-container {
    flex-grow: 1;
      display: flex;
      flex-direction: row;
      height: 100%;      
  }

  .ent-layout-sidebar {
    border-inline-end: $border;
  }

  .ent-layout-content {
    flex-grow: 1;
  }

  .ent-layout-appbar {
    border-bottom: $border;
  }
  
}