.ent-card {
  display: flex;
  flex-direction: column;
  border:$border;
  background-color: #fff;
  
  > .ent-card-header {
    padding: 1rem; 
    border-bottom: $border;
  }

  > .ent-card-content {
    padding: 1rem;
  }

  > .ent-card-footer {
    padding: 1rem;
    border-top: $border;
  } 
  
}