
.ent-modal-provider {
  position: relative;
  .ent-modal {
    position: absolute;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: white;
  }
}
 