.ent-nav-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    border:$border;
    border-bottom: 0;
    font-size: map-get($font-sizes, "subtitle");

    > * {
        border-bottom: $border;
    }

   

    .ent-nav-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: calc($size / 2) $size;
        background-color: white;
        cursor: pointer;
        
        .ent-nav-menu-item-icon {
            
        }
        
        .ent-nav-menu-item-content { 
            flex-grow: 1;
            margin-inline-start: 1rem;
        }
    }

    .ent-nav-menu-item:hover {
        background-color: map-get($colors, "light-sm");
    }

}