.ent-tab {
  display: flex;
  height: 100%;
  border: $border;
  > .ent-tab-item-container-message {
    display: flex;
    align-items: center;
    > * {
      padding: 0;
      margin: 0;
    }
  }

  > .ent-tab-item-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    > .ent-tab-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc($size / 2);
      font-size: map-get($font-sizes, "subtitle");
      padding: calc($size / 2) $size;
      cursor: pointer;
      i {
        font-size: map-get($font-sizes, "subtitle");
      }


      .ent-tab-btn-close {
        margin-inline-start: calc($size / 2) ;
      }
    }

    > .ent-tab-item-vertical {
      flex-direction: column;
      padding-top: $size;
      padding-bottom: $size;
    }
  
    > .ent-tab-item-horizontal {
      flex-direction: row;
    }

  }

  

  > .ent-tab-panel-container {
    flex-grow: 1;

    &.ent-tab-panel-container-collapse {
      display: none;
      border: 0;
    }
  }
}

.ent-tab-horizontal {
  flex-direction: row;
  > .ent-tab-item-container {
    flex-direction: column;
    

    > * {
      border-bottom: $border;
    }
  }

  > .ent-tab-item-container-message {
   
    font-size: map-get($font-sizes, "subtitle");
    padding: $size calc($size / 2);
    writing-mode: sideways-rl;
    > * {
      transform: rotate(90deg);
    }
  }
  > .ent-tab-panel-container {
    border-inline-start: $border;
  }
}

.ent-tab-vertical {
  flex-direction: column;



  > .ent-tab-item-container {
    flex-direction: row;
    border-bottom: $border;

    > * {
      border-inline-end: $border;
    }
  }

  > .ent-tab-item-container-message {
    border-bottom: $border;
    font-size: map-get($font-sizes, "subtitle");

    padding: calc($size / 2) $size;
  }
}

.ent-tab-panel {
  display: none;
}
.ent-tab-panel.active {
  display: block;
}