@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntComponentBase




@if (Visible)
{
    <div @attributes="@AdditionalAttributes" class="@ClassNames" style="@StyleNames" @onclick="OnClickHandlerAsync" @onclick:stopPropagation="true">
        @if (LightBackground || DarkBackground)
        {
            <div class="@ScrimClassNames"></div>
        }
        @if (ChildContent is not null)
        {
            <div class="mud-overlay-content">
                @ChildContent
            </div>
        }
    </div>
}