@namespace Enter.UI.Components
@inherits EntComponentBase

@code {
    public override void Dispose()
    {
        
    }
}



@if (Visible)
{
    <div @attributes="@AdditionalAttributes" class="@Classname" @onclick="OnClickHandlerAsync" @onclick:stopPropagation="true">
        @if(LightBackground || DarkBackground)
        {
            <div class="@ScrimClassname"></div>
        }
        @if(ChildContent is not null)
        {
            <div class="mud-overlay-content">
                @ChildContent
            </div>
        }
    </div>
}
