@import "../fonts//vazirmatn//Vazirmatn-font-face.css";

:root {
    /* size */
    --size-base: 16px;
    /* text */
    --text-color-dark: #111;
    --text-color-dark2: #333;
    --text-color-dark3: #555;
    --text-color-gray: #777;
    --text-color-light: #fff;
    --text-color-light2: #eee;
    --text-color-light3: #ddd;
    --text-font-family: Vazirmatn;
    --text-size: 14px;
    /* color */
    --color-black: #000000;
    --color-dark: #111111;
    --color-dark2: #333333;
    --color-dark3: #555555;
    --color-gray: #777777;
    --color-white: #ffffff;
    --color-light: #f8f8f8;
    --color-light2: #f2f2f2;
    --color-light3: #eeeeee;
    --border-color: #ddd;
    --border-size: 1px;
}

body {
    direction: rtl;
    font-family: var(--text-font-family);
    font-size: var(--text-size);
    background-color: var(--color-light3);
    padding: 0;
    margin: 0;
    color:var(--text-color-gray);
}


.app-bar {
    background-color: var(--color-white);
    height: calc(var(--size-base) * 3);
    display: flex;
    align-items: center;
    padding: 0 calc(var(--size-base));
}



.pro-button {
    font-family: var(--text-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--size-base) / 4);
    /*border: var(--border-size) solid var(--border-color);*/
    background-color: var(--color-light3);
    height: calc(var(--size-base) * 2);
    padding: 0 calc(var(--size-base));
    border: 0;
}


.pro-button-sm {
    height: calc(var(--size-base) * 1.5);
    padding: 0 calc(var(--size-base)/2);
    font-size: 12px;
}

.pro-button-lg {
    height: calc(var(--size-base) * 3);
    font-size: 16px;
}









.d-flex {
    display: flex;
}

.grow-1 {
    flex-grow:1;
}

.justify-content-end {
    justify-content:end;
}
