@namespace Enter.Ui.Components
@using Enter.Ui.Components.Icon
@using Enter.Ui.Components.Text
@inherits Enter.Ui.Bases.EntComponentComponent
<CascadingValue Value="@(this)">
    <div @attributes="AdditionalAttributes" class="@ClassNames">
        @if (Icon != null && !Loading)
        {
            <EntIcon Icon="@Icon" IconSize="EntIconSize.Medium" class="ent-toolbar-button-icon" IconStyle="EntIconStyle.Light"/>
        }

        @if (Loading)
        {
            <EntCircularLoading Animate="Loading" class="ent-toolbar-button-icon-loading"/>
        }

        @if (!string.IsNullOrWhiteSpace(Text))
        {
            <EntText Type="EntTextType.Text" class="ent-toolbar-button-text">@Text</EntText>
        }
    </div>
</CascadingValue>

@code {

    private string ClassNames => ClassBuilder
        .AddClass("ent-toolbar-button")
        .Build();


    [Parameter]
    public string? Text { get; set; } = string.Empty;

    [Parameter]
    public object? Icon { get; set; } = string.Empty;

    [Parameter]
    public bool Loading { get; set; }


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}