@namespace Enter.UI.Components
@using Enter.UI.Abstractions.Components.Text
@using Enter.UI.Abstractions.Core
@using Enter.UI.Abstractions.Components.Icon
@inherits EntComponentBase
<CascadingValue Value="@this">
    <div @attributes="AdditionalAttributes" class="@RootClass" >
        @if (Icon != null)
        {
            <EntIcon Icon="@Icon" IconSize="EntIconNameize.Default" class="ent-toolbar-item-icon"/>
        }
        
        @if (!string.IsNullOrWhiteSpace(Text))
        {
            <EntText Type="EntTextType.Text" class="ent-toolbar-item-text">@Text</EntText>
        }
    </div>
</CascadingValue>
@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-toolbar-item")
        .Build();


    [Parameter]
    public string? Text { get; set; } = string.Empty;
    
    [Parameter]
    public object? Icon { get; set; } = string.Empty;

}