@namespace Enter.Ui.Components
@inherits Enter.Ui.Cores.Bases.EntComponentBase
<CascadingValue Value="@(this)">
    <div @attributes="AdditionalAttributes" class="@RootCss">
        @ChildContent
    </div>
</CascadingValue>