@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntComponentComponent
<CascadingValue Value="@(this)">
    <div @attributes="AdditionalAttributes" class="@ClassNames">
        @ChildContent
    </div>
</CascadingValue>