@inherits EntBaseComponent
@namespace Enter.UI.Components

<div @attributes="@AdditionalAttributes" class="@RootCss"   >
@if (Parent.KeepPanelAlive)
{
    
        @ChildContent
    
}else
{
    @if (Parent.IsActive(Id))
    {
        @ChildContent
    }
}
</div>






