@namespace Enter.UI.Components
@inherits EntBaseComponent
<div 
    @ref="Reference"
     @onanimationend="EventUtil.AsNonRenderingEventHandler(OnAnimationEndCallback)"
     @onanimationstart="EventUtil.AsNonRenderingEventHandler(OnAnimationStartCallback)"
     class="@RootCss"
     style="@RootStyle"
     id="@Id">
    @ChildContent
</div>

@code {

    
}