@namespace Enter.UI.Components
@inherits Enter.UI.Core.Bases.EntBaseComponent
<CascadingValue Value="@this">
    <div @attributes="Attributes" class="@RootCss" >
        @ChildContent
    </div>
</CascadingValue>
