@namespace Enter.UI.Components
@using Enter.UI.Components.Button
@using Enter.UI.Components.Icon
@inherits Enter.UI.Cores.Bases.EntComponentBase

<button @attributes="@AdditionalAttributes" disabled="@(Disabled ? true : false)" class="@RootClass">
    @if (Icon != null && !Loading)
    {
        <span class="icon-wrapper">
            <EntIcon class="icon" Icon="@Icon" IconSize="EntIconSize.Medium" IconStyle="EntIconStyle.Light"/>
        </span>
    }
    
    @if (Loading)
    {
        <span class="icon-wrapper">
            <EntCircularLoading Animate="Loading" class="icon ent-btn-loading"/>
        </span>
    }
    @ChildContent

</button>

@code {

    private string RootClass => CssBuilder

        .AddCss("ent-btn")
        
        .AddCss("ent-btn-size-lg",Size == ButtonSize.Large)
        .AddCss("ent-btn-size-md", Size == ButtonSize.Medium)
        .AddCss("ent-btn-size-sm", Size == ButtonSize.Small)
        
        .AddCss("ent-btn-outline",Appearance==ButtonAppearance.Outline)
        .AddCss("ent-btn-ghost",Appearance==ButtonAppearance.Ghost)
        
        .AddCss("ent-btn-primary", Color == ButtonColor.Primary )
        
        .AddCss("ent-btn-only-icon", Icon != null && ChildContent == null)
        .AddCss("ent-btn-disabled", Disabled )
        
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;
    
    [Parameter]
    public ButtonAppearance Appearance { get; set; } = ButtonAppearance.Default;
    
    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.Default;

    [Parameter]
    public object? Icon { get; set; }

    [Parameter]
    public bool Loading { get; set; } = false;
    
    [Parameter]
    public bool Disabled { get; set; } = false;

  
    public override void Dispose()
    {
    }

}