@inherits Enter.Ui.Cores.Bases.EntComponentBase
@namespace Enter.Ui.Components

<div @attributes="@AdditionalAttributes" class="@RootCss">
    @if (Parent.KeepPanelAlive)
    {
        @ChildContent
    }
    else
    {
        @if (Parent.IsActiveTab(Id))
        {
            @ChildContent
        }
    }
</div>