@namespace Enter.UI.Components
<div @attributes="AdditionalAttributes" class="@RootCss">@ChildContent</div>
@inherits Enter.UI.Cores.Bases.EntComponentBase

@code {
    private readonly string _flexRow = "flex-row";
    public string _flexColumn = "flex-column";

    public string RootCss => CssBuilder
        .AddCss($"space-x-{SpaceX}")
        .AddCss($"mobile:space-x-{MobileSpaceX}", MobileSpaceX.HasValue)
        .AddCss($"tablet:space-x-{TabletSpaceX}", TabletSpaceX.HasValue)
        .AddCss($"laptop:space-x-{LaptopSpaceX}", LaptopSpaceX.HasValue)
        .AddCss($"desktop:space-x-{DesktopSpaceX}", DesktopSpaceX.HasValue)
        .AddCss($"screen:space-x-{ScreenSpaceX}", ScreenSpaceX.HasValue)
        .AddCss($"space-y-{SpaceY}")
        .AddCss($"mobile:space-y-{MobileSpaceY}", MobileSpaceY.HasValue)
        .AddCss($"tablet:space-y-{TabletSpaceY}", TabletSpaceY.HasValue)
        .AddCss($"laptop:space-y-{LaptopSpaceY}", LaptopSpaceY.HasValue)
        .AddCss($"desktop:space-y-{DesktopSpaceY}", DesktopSpaceY.HasValue)
        .AddCss($"screen:space-y-{ScreenSpaceY}", ScreenSpaceY.HasValue)
        .AddCss("space-reverse-x", IsSpaceXReverse)
        .AddCss("mobile:space-x-reverse", IsMobileSpaceXReverse.HasValue && IsMobileSpaceXReverse.Value)
        .AddCss("tablet:space-x-reverse", IsTabletSpaceXReverse.HasValue && IsTabletSpaceXReverse.Value)
        .AddCss("laptop:space-x-reverse", IsLaptopSpaceXReverse.HasValue && IsLaptopSpaceXReverse.Value)
        .AddCss("desktop:space-x-reverse", IsDesktopSpaceXReverse.HasValue && IsDesktopSpaceXReverse.Value)
        .AddCss("screen:space-x-reverse", IsScreenSpaceXReverse.HasValue && IsScreenSpaceXReverse.Value)
        .AddCss("space-reverse-y", IsSpaceYReverse)
        .AddCss("mobile:space-y-reverse", IsMobileSpaceYReverse.HasValue && IsMobileSpaceYReverse.Value)
        .AddCss("tablet:space-y-reverse", IsTabletSpaceYReverse.HasValue && IsTabletSpaceYReverse.Value)
        .AddCss("laptop:space-y-reverse", IsLaptopSpaceYReverse.HasValue && IsLaptopSpaceYReverse.Value)
        .AddCss("desktop:space-y-reverse", IsDesktopSpaceYReverse.HasValue && IsDesktopSpaceYReverse.Value)
        .AddCss("screen:space-y-reverse", IsScreenSpaceYReverse.HasValue && IsScreenSpaceYReverse.Value)
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public decimal SpaceX { get; set; } = 4;

    [Parameter]
    public decimal? MobileSpaceX { get; set; }

    [Parameter]
    public decimal? TabletSpaceX { get; set; }

    [Parameter]
    public decimal? LaptopSpaceX { get; set; }

    [Parameter]
    public decimal? DesktopSpaceX { get; set; }

    [Parameter]
    public decimal? ScreenSpaceX { get; set; }

    [Parameter]
    public decimal SpaceY { get; set; } = 4;

    [Parameter]
    public decimal? MobileSpaceY { get; set; }

    [Parameter]
    public decimal? TabletSpaceY { get; set; }

    [Parameter]
    public decimal? LaptopSpaceY { get; set; }

    [Parameter]
    public decimal? DesktopSpaceY { get; set; }

    [Parameter]
    public decimal? ScreenSpaceY { get; set; }


    [Parameter]
    public bool IsSpaceYReverse { get; set; } = false;

    [Parameter]
    public bool? IsMobileSpaceYReverse { get; set; }

    [Parameter]
    public bool? IsTabletSpaceYReverse { get; set; }

    [Parameter]
    public bool? IsLaptopSpaceYReverse { get; set; }

    [Parameter]
    public bool? IsDesktopSpaceYReverse { get; set; }

    [Parameter]
    public bool? IsScreenSpaceYReverse { get; set; }


    [Parameter]
    public bool IsSpaceXReverse { get; set; } = false;

    [Parameter]
    public bool? IsMobileSpaceXReverse { get; set; }

    [Parameter]
    public bool? IsTabletSpaceXReverse { get; set; }

    [Parameter]
    public bool? IsLaptopSpaceXReverse { get; set; }

    [Parameter]
    public bool? IsDesktopSpaceXReverse { get; set; }

    [Parameter]
    public bool? IsScreenSpaceXReverse { get; set; }


    public override void Dispose()
    {
    }

}