@inherits LayoutComponentBase
<ProAppBar>
    <div class="">
        <ProButton Size="ProButton.ButtonSize.Small">حساب کاربری</ProButton>
    </div>
</ProAppBar>

<ProMenuBar>
    <Item>
aaaa
    </Item>
    <Item>
        ss
    </Item>
</ProMenuBar>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
