@using Enter.Dashboard.Pages;
@using Enter.UI.Models;
@using Enter.UI.Services.Contracts;
@using Enter.Dashboard.Components
@inherits LayoutComponentBase
<div dir="@Direction" class="border-y d-flex flex-column h-full">
    <EntAppBar Title="پلتفرم مدیریتی پیشرفته">
        <div class="d-flex w-full">
            <div class="flex-grow-1">
            </div>
            <div class="d-flex gap-2">
                <EntButton Click="ToRtl" Icon="fa-light fa-align-right" Size="ButtonSize.Small">راست چین</EntButton>
                <EntButton Click="ToLtr" Icon="fa-light fa-align-left" Size="ButtonSize.Small">چپ چین</EntButton>
            </div>
        </div>
    </EntAppBar>
    <div class="border-x flex-grow-1 d-flex">
            <EntTab ItemDirection="EntTabItemDirection.Vertical"
                    Direction="EntTabDirection.Horizontal"
                    Expandable="true"
                    KeepPanelAlive="true"
                    ActiveClass="bg-light-sm"
                    PanelClass="bg-white"
                    class="border-0">
                <EntTabPanel Title="صفحه اصلی" Icon="fa-light fa-home" class="w-60">
                    <EntNavMenu Title="صفحات فرم" class="border-0">
                        <EntNavMenuGroup Title="تعاریف" Icon="fa-light fa-home">
                            <EntNavMenuTextItem class="bg-light"  IconData="fa-light fa-clock" Text="شمارنده" Click="() => AddNewTab<Counter>()"/>
                            <EntNavMenuTextItem class="bg-light"  IconData="fa-light fa-arrow-down" Text="دریافت اطلاعات" Click="() => AddNewTab<FetchData>()"/>
                        </EntNavMenuGroup>
                        <EntNavMenuGroup Title="صفحات فرم" Icon="fa-light fa-note" IconType="EntIconType.IconTag">
                            <EntNavMenuTextItem class="bg-light"  Text="فرم معمولی" Click="() => AddNewTab<FormLayout>()"/>
                        </EntNavMenuGroup>
                    </EntNavMenu>
                </EntTabPanel>
                <EntTabPanel Title="حساب کاربری" Icon="fa-light fa-user" class="w-60">
                    <div class="bg-white p-4 m-4 border ">اطلاعات مربوط به حساب کاربری اینجا قرار میگیرد</div>
                </EntTabPanel>
            </EntTab>
        <div class="flex-grow-1">
            @Body
        </div>
    </div>
</div>

<EntModalProvider/>
@code {

    [Inject]
    public IMdiService MdiService { get; set; }

    public string Direction { get; set; } = "rtl";
    
    public void AddNewTab<T>()
    {
        if (typeof(T) == typeof(Counter))
        {
            MdiService.AddNewTab<Counter>("counter", "شمارنده", "fa-light fa-clock");
        }
        else if (typeof(T) == typeof(FetchData))
        {
            MdiService.AddNewTab<FetchData>(Guid.NewGuid().ToString(), "دریافت اطلاعات", "fa-light fa-arrow-down");
        }
        else if (typeof(T) == typeof(FormLayout))
        {
            MdiService.AddNewTab<FormLayout>("FormLayout", "فرم معمولی", "fa-light fa-note");
        }
    }

    private void ToRtl()
    {
        Direction = "rtl";
    }
    
    private void ToLtr()
    {
        Direction = "ltr";
    }

}