@namespace Enter.UI.Components
@inherits Enter.UI.Cores.Bases.EntComponentBase
<CascadingValue Value="@(this)">
    <div @attributes="AdditionalAttributes" class="@RootCss">
        @ChildContent
    </div>
</CascadingValue>