@namespace Enter.UI.Components
@inherits EntComponentBase
<CascadingValue Value="@this">
    <div @attributes="AdditionalAttributes" class="@RootCss" >
        @ChildContent
    </div>
</CascadingValue>
