@page "/documents/calendar"
@using Enter.Ui.Components.Icon
@inherits Enter.Ui.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4 row">
    <EntCard class="mb-4 ">
        <CardBody>
           <EntCalendar></EntCalendar>
        </CardBody>
    </EntCard>
    
</div>