@page "/documents/grid-system"
@using Enter.Ui.Components.Icon
@inherits Enter.Ui.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4 row">
    <EntCard class="mb-4 col-12 tablet:col-6 desktop:col-3">
        <CardBody>
            col-3
        </CardBody>
    </EntCard>
    <EntCard class="mb-4 col-12 tablet:col-6 desktop:col-3">
        <CardBody>
            col-3
        </CardBody>
    </EntCard>
    <EntCard class="mb-4 col-12 tablet:col-6 desktop:col-3">
        <CardBody>
            col-3
        </CardBody>
    </EntCard>
    <EntCard class="mb-4 col-12 tablet:col-6 desktop:col-3">
            <CardBody>
                col-3
            </CardBody>
        </EntCard>
</div>