@page "/documents/icons"
@using Enter.UI.Components.Icon
@inherits Enter.UI.Cores.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4">
    <EntCard Title="Default Icons" class="mb-4">
        <CardBody>
            <EntFlex Gap="2" class="mb-4">
                <EntIcon IconSize="EntIconSize.Small" Icon="EntIconName.User"/>
                <EntIcon IconSize="EntIconSize.Medium" Icon="EntIconName.User"/>
                <EntIcon IconSize="EntIconSize.Large" Icon="EntIconName.User"/>

            </EntFlex>
        </CardBody>

    </EntCard>

</div>