@page "/documents/modals"
@using Enter.Ui.Components.Modal
@using Enter.Ui.Core
@using Enter.Ui.Components.Flex
@inherits Enter.Ui.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4">
    <EntCard Expandable="true" Title="Modals">
        <CardBody>
            <EntFlex Direction="FlexDirection.Column"
                     LaptopDirection="FlexDirection.Row"
                     LaptopAlign="FlexAlign.StartCenter"
                     Gap="4">
                <EntButton type="button" @onclick="() => OpenModal(EntModalSize.ExtraLarge)">Modal ExtraLarge</EntButton>
                <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Large)">Modal Large</EntButton>
                <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Medium)">Modal Medium</EntButton>
                <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Small)">Modal Small</EntButton>
                <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Fullscreen)">Modal FullScreen</EntButton>
            </EntFlex>
        </CardBody>
    </EntCard>

</div>

@code {

    public async Task OpenModal(EntModalSize size)
    {
        var confirmResult =  ModalService.MessageBox("Open Modal", "Are you sure to oprn Modal?", "Show", "Dismiss");
        if ((await confirmResult.Result).Confirmed)
        {
            var parameter = new ParameterBuilder<UploadBoxPage>()
                .Build();

            var result =  ModalService.Show<UploadBoxPage>("sada", null, new EntModalOptions
            {
                Size = size
            });
        }
    }

}