@page "/documents/pagination"
@layout DocumentLayout
<div class="p-4">
    <EntCard Expandable="true" CardExpand="false" class="mb-4" Title="Pagination">
        <CardBody>
            <EntPagination
                BoundaryCount="2" MiddleCount="5" Count="22"
                ShowNextButton="true"
                ShowPreviousButton="true"
                @bind-Selected="@Page"/>
            <EntButton class="mt-4">@Page</EntButton>
        </CardBody>
    </EntCard>
</div>

@code {

    public int Page { get; set; } = 2;
}