@page "/documents/treeview"
@using Enter.UI.Components.TreeView
@using Enter.UI.Components.Button
@using Enter.UI.Core.Extensions
@using System.Net.Mime
@using Enter.Dashboard.Model
@using Enter.UI.Components.Icon
@using Enter.UI.Core
@layout DocumentLayout
<div class="p-4">

    <EntCard Expandable="true" CardExpand="false" class="mb-4" Title="TreeView (Single Select)">
        <CardBody>
            <EntTreeView
                Tag="SingleTreeView"
                class="mb-4"
                MultiSelect="false"
                SelectMode="EntTreeViewSelectMode.Toggle"
                DataSource="@Datasource"
                @bind-SelectedValue="TreeSelectedValue"/>

           @if (TreeSelectedValue != null)
           {
               <EntButton Size="ButtonSize.Small" class="" @onclick="@(()=>{
                   TreeSelectedValue = "Normal Backend Developer";
               })">
                   @TreeSelectedValue
               </EntButton>
           }

        </CardBody>
    </EntCard>

    <EntCard Expandable="true" CardExpand="false" class="mb-4" Title="TreeView (Multi Select)">
        <CardBody>
            <EntTreeView
                class="mb-4"
                MultiSelect="true"
                DataSource="@Datasource"
                @bind-SelectedValues="TreeSelectedValues"/>
            <EntFlex Gap="1">
                @foreach (var item in TreeSelectedValues)
                {
                    <EntButton Size="ButtonSize.Small">
                        @item
                    </EntButton>
                }
            </EntFlex>
        </CardBody>
    </EntCard>

</div>

@code {

    public IEnumerable<EntSelectItem<string>> Datasource =  Constants.Roles.ProjectToSelectItem(x => x.Text, x => x.Value, x => x.Childrens, EntIconName.Folder);
    
    public List<string> TreeSelectedValues { get; set; } = new() { "Admin", "Normal Backend Developer" };
    public string TreeSelectedValue { get; set; } = "Normal Front Developer";
}