@page "/documents/upload-box"
@using Enter.UI.Abstractions.Components.Button
@using Enter.UI.Abstractions.Components.Flex
@using Enter.UI.Abstractions.Components.Icon
@using Enter.Dashboard.Model
@inherits Enter.UI.Abstractions.Core.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4">
    <EntCard Title="UploadBox" class="mb-4">
        <CardBody>
            <EntUploadBox PlaceHolder="Please select your Files"/>
        </CardBody>

    </EntCard>
</div>