@page "/documents/upload-box"
@inherits Enter.Ui.Cores.Bases.EntPageBase
@layout DocumentLayout
<div class="p-4">
    <EntCard Title="UploadBox" class="mb-4">
        <CardBody>
            <EntUploadBox PlaceHolder="Please select your Files"/>
        </CardBody>

    </EntCard>
</div>