@namespace Enter.UI.Components
@using Enter.UI.Components.Loading
@inherits Enter.UI.Cores.Bases.EntComponentBase
<span @attributes="@AdditionalAttributes" class="@RootClass">
</span>

@code {

    private string RootClass => CssBuilder
        .AddCss("ent-circular-loading")
        .AddCss("ent-circular-loading-lg", Size == EntLoadingSize.Large)
        .AddCss("ent-circular-loading-sm", Size == EntLoadingSize.Small)
        .AddCss("animate", Animate)
        .Build();

    [Parameter]
    public bool Animate { get; set; } = true;

    [Parameter]
    public EntLoadingSize Size { get; set; } = EntLoadingSize.Default;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var attr = AdditionalAttributes;
        }
        base.OnAfterRender(firstRender);
    }

    public override void Dispose()
    {
    }

}