@namespace Enter.Ui.Components
@using Enter.Ui.Components.Loading
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent
<span @attributes="@AdditionalAttributes" class="@ClassNames">
</span>

@code {
    public override string ComponentName => nameof(EntCircularLoading);
    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-circular-loading")
            .AddClass("ent-circular-loading-lg", Size == EntLoadingSize.Large)
            .AddClass("ent-circular-loading-sm", Size == EntLoadingSize.Small)
            .AddClass("animate", Animate);
        base.BuildClasses(builder);
    }

    [Parameter]
    public bool Animate { get; set; } = true;

    [Parameter]
    public EntLoadingSize Size { get; set; } = EntLoadingSize.Default;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var attr = AdditionalAttributes;
        }
        base.OnAfterRender(firstRender);
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}