@namespace Enter.UI.Components
@using Enter.UI.Services
@inherits Enter.UI.Cores.Bases.EntComponentBase

<div @attributes="AdditionalAttributes" class="@RootClass" id="@($"ent-popover-{_id}")">

</div>

@code {

    private string RootClass => CssBuilder
        .AddCss("ent-popover")
        .Build();

    private string _popoverClass => CssBuilder
        .Clear()
        .AddCss("ent-popover-content")
        .AddCss($"ent-popover-anchor-{Anchor.GetCssClass()}")
        .AddCss($"ent-popover-{Transform.GetCssClass()}")
        .AddCss("ent-popover-overflow-flip-onopen")
        .AddCss("ent-popover-open", Open)
        .AddCss("ent-popover-relative-width", RelativeWidth)
        .Build();

    [Inject]
    public IEntPopoverService EntPopoverService { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string PopoverClass { get; set; }

    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public bool RelativeWidth { get; set; }

    [Parameter]
    public Origin Anchor { get; set; } = Origin.BottomCenter;

    [Parameter]
    public Origin Transform { get; set; } = Origin.TopCenter;

    private EntPopoverService _entPopoverService = default!;
    private Guid _id;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _entPopoverService = (EntPopoverService)EntPopoverService;

        _id = await EntPopoverService.RegisterAsync(ChildContent, _popoverClass, Open);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await EntPopoverService.ConnectAsync(_id);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await EntPopoverService.UpdateParameterAsync(_id, _popoverClass, Open);
    }

    public override void Dispose()
    {
    }

}