@page "/counter"
@using Enter.UI.Abstractions.Components.Tabs;
@using Enter.UI.Abstractions.Components.Text
@using Enter.UI.Abstractions.Core.Bases;
@using Enter.UI.Abstractions.Components.Modal
@inherits EntPageBase
@implements IDisposable
<PageTitle>Counter</PageTitle>

<div class="m-4 p-4 bg-white border">
    <EntText Type="EntTextType.Heading1" Size="EntTextSize.Heading">Counter</EntText>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>


@code {

    private int currentCount = 0;

    private async  Task IncrementCount()
    {
        currentCount++;

        if (currentCount == 3)
        {
            await ToastService.NotifyInfoAsync("asd", "asdas");
            if (MdiTabInstance != null)
            {
                await MdiTabInstance.CloseAsync();
            }

            if (EntModal != null)
            {
                EntModal.Close(ModalResult.Ok(currentCount));
            }
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task OnActivatedAsync()
    {
        StateHasChanged();
    }

    public override void Dispose()
    {
        base.Dispose();
    }

}
