@page "/"
@using Enter.Dashboard.Model
@using Enter.UI.Core

<PageTitle>Index</PageTitle>

<EntFlex class="h-full"  Direction="FlexDirection.Column">
    <EntMdiTab ItemDirection="EntTabItemDirection.Horizontal"
               KeepPanelAlive="true"
               PanelClass="h-full"
               ActiveClass=""
               Closeable="true"
               class="border-0 h-full"
               Direction="EntTabDirection.Vertical">
        <div class="p-8">
            <EntCard Title="Default" Expandable="true" class="mb-8">
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column">
                        <b>This page is the default in EntMdiTab</b>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard Title="SideBar" Expandable="true" class="mb-8">
                <CardBody>
                    <EntDrawerContainer class="h-50">
                        <EntDrawer Open="IsSidebarOpen" class="bg-secondary">
                            <EntText>sidebar</EntText>
                        </EntDrawer>
                        
                        <EntDrawer Direction="EntDrawerDirection.End" Mode="EntDrawerMode.Overlay" Open="IsSidebarOpen" class="bg-secondary">
                                                    <EntText>sidebar</EntText>
                                                </EntDrawer>
                        <div class="d-flex ">
                            <EntButton @onclick="ToggleDrawer">Click</EntButton>
                            <div class="flex-grow-1"></div>
                            <EntButton @onclick="ToggleDrawer">Click</EntButton>
                        </div>

                    </EntDrawerContainer>
                </CardBody>
            </EntCard>
            <EntCard class="mb-8" Tag="card" Expandable="true" CardExpand="false" Icon="fa-light fa-user" Title="Buttons">
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column"
                             LaptopDirection="FlexDirection.Row"
                             LaptopAlign="FlexAlign.StartCenter"
                             Align="FlexAlign.StartCenter"
                             Gap="4">
                        <EntButton @onclick="OpenToast" type="button" Size="ButtonSize.Large">Large Button</EntButton>
                        <EntButton type="button" Size="ButtonSize.Default">Button</EntButton>
                        <EntButton type="button" Size="ButtonSize.Small">Small Button</EntButton>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard Expandable="true" CardExpand="false" class="mb-8" Title="Modals">
                <CardBody>
                    <EntFlex Direction="FlexDirection.Column"
                             LaptopDirection="FlexDirection.Row"
                             LaptopAlign="FlexAlign.StartCenter"
                             Gap="4">
                        <EntButton type="button" @onclick="() => OpenModal(EntModalSize.ExtraLarge)">Modal ExtraLarge</EntButton>
                        <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Large)">Modal Large</EntButton>
                        <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Medium)">Modal Medium</EntButton>
                        <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Small)">Modal Small</EntButton>
                        <EntButton type="button" @onclick="() => OpenModal(EntModalSize.Fullscreen)">Modal FullScreen</EntButton>
                    </EntFlex>
                </CardBody>
            </EntCard>
            <EntCard Expandable="true" CardExpand="false" class="mb-8" Title="Popover">
                <CardBody>
                    <EntButton @onclick="OpenPopover">Show</EntButton>
                    <EntPopover Open="IsPopoverOpen" RelativeWidth="true">
                        <EntCard>
                            <CardBody>
                                <p>ssss</p>
                            </CardBody>
                        </EntCard>
                    </EntPopover>
                </CardBody>
            </EntCard>

            <EntCard Expandable="true" CardExpand="false" class="mb-8" Title="TreeView">
                <CardBody>
                    <EntTreeView
                        DataSource="Constants.Roles"
                        TextFunc="x => x.Title"
                        ValueFunc="x => x.Value"
                        @bind-SelectedValues="TreeSelectedValue"/>
                    @foreach (var item in TreeSelectedValue)
                    {
                        <span class="me-2">
                            @item
                        </span>
                    }
                </CardBody>
            </EntCard>
            <EntCard Expandable="true" class="mb-8" Title="Form">
                <CardBody>

                    <b class="mb-2">AutoComplete Input</b>
                    <EntInputAutoComplete class="mb-8"
                                          @bind-Value="AutoCompleteValue"
                                          DataSources="AutoCompleteDataSource"
                                          ValueFunc="x => x.Name"
                                          OnSearchChange="OnSearchChangeCallBack"/>
                    <b class="mb-2">Select Input</b>
                    <EntInputSelect @bind-Value="SelectValue"
                                    PlaceHolder="Select the desired role"
                                    DataSources="Constants.Roles"
                                    ValueFunc="x => x.Value"
                                    TextFunc="x => x.Title"/>
                </CardBody>
            </EntCard>

        </div>
    </EntMdiTab>
</EntFlex>

@code {
    public List<string> TreeSelectedValue { get; set; } = new();
    public bool IsPopoverOpen { get; set; }
    public bool IsSidebarOpen { get; set; } = true;
    public string AutoCompleteValue { get; set; }
    public string SelectValue { get; set; }

    public List<Users> AutoCompleteDataSource { get; set; } = Constants.Users;

    [Inject]
    public IModalService ModalService { get; set; }

    [Inject]
    public IEntToastService ToastService { get; set; }

    public async Task OpenModal(EntModalSize size)
    {
        var parameter = new ParameterBuilder<Counter>()
            .Build();

        var result = await ModalService.ShowAsync<Counter>("sada", parameter, new EntModalOptions
        {
            Size = size
        });
    }

    public void OpenPopover()
    {
    //IsPopoverOpen = !IsPopoverOpen;
    }

    public async Task OpenToast()
    {
        await ToastService.NotifyAsync("Danger", "The content we display", new EntToastOptions
        {
            DelaySpan = TimeSpan.FromSeconds(10),
            Type = EntToastType.Danger
        });
    }

    private async Task OnSearchChangeCallBack(string search)
    {
        AutoCompleteDataSource = Constants.Users.Where(x => x.Name.Contains(search)).ToList();
    }

    public async Task ToggleDrawer()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }
}