@using Microsoft.JSInterop
@using Enter.UI.JsServices
@namespace Enter.UI.Components
@inherits EntComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div dir="@Direction" class="@RootCss">
         @ChildContent
    </div>
</CascadingValue>

<style>
    :root {
      --ent-drawer-width : @(@DrawerDefaultWidth)px;  
    }
</style>

@code {
   
    protected string RootCss =>CssClassBuilder
        .AddClass("ent-ui")
        .AddClass("ent-rtl",Rtl)
        .AddClass("ent-ltr",!Rtl)
        .AddClass("ent-theme-dark",DarkMode)
        .Build();
    
    [Inject]
    public IEntSharedJsService SharedJsService { get; set; }
    
    [Inject]
    public IEntJsService EntJsService { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    
    [Parameter]
    public bool Rtl { get; set; } = false;
    
    [Parameter]
    public bool DarkMode { get; set; } = false;

    public event Action<EntBreakpoint>? BreakpointChangeEvent; 

    public string Direction => Rtl ? "rtl" : "ltr";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var objRef = DotNetObjectReference.Create(this);
            await SharedJsService.InitializeBreakpointEventAsync(objRef);
        }
    }


    public void EnableRtl()
    {
        Rtl = true;
        StateHasChanged();
    }
    public void DisableRtl()
    {
        Rtl = false;
        StateHasChanged();
    }
    public void ToggleRtl()
    {
        Rtl = !Rtl;
        StateHasChanged();
    }
    
    public async Task EnableDarkMode()
    {
        DarkMode = true;
       await SharedJsService.SetAttributeByQuerySelectorAsync("html","data-theme", "dark");
        StateHasChanged();
    }
    public async Task DisableDarkMode()
    {
        DarkMode = false;
        await SharedJsService.SetAttributeByQuerySelectorAsync("html","data-theme", "light");
        StateHasChanged();
    }
    public async Task ToggleDarkMode()
    {
        if (DarkMode)
        {
           await DisableDarkMode();
        }
        else
        {
         await   EnableDarkMode();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (DarkMode)
        {
            await EnableDarkMode();
        }
        else
        {
            await   DisableDarkMode();
        }
    }


    [JSInvokable("OnBreakpointEventListener")]
    public async Task OnBreakpointEventListener(string breakpoint)
    {
        if (BreakpointChangeEvent != null)
        {
            var value = Enum.Parse<EntBreakpoint>(breakpoint);
            BreakpointChangeEvent.Invoke(value);
        }
    }

    [Parameter]
    public int DrawerDefaultWidth { get; set; } = 260;

    public override void Dispose()
    {
        
    }

}