$breakpoints: (
  mobile: 600px,
  tablet: 768px,
  desktop: 992px,
  screen: 1200px,
);
$size: 16px;
$sizes: (
  0: 0,
  1: $size * 0.25,
  2: $size * 0.5,
  3: $size * 0.75,
  4: $size * 1,
  5: $size * 1.25,
  6: $size * 1.5,
  7: $size * 1.75,
  8: $size * 2,
  9: $size * 2.25,
  10: $size * 2.5,
  11: $size * 2.75,
  12: $size * 3,
  13: $size * 3.25,
  14: $size * 3.5,
  15: $size * 3.75,
  16: $size * 4,
  auto: auto,
  unset: unset,
);
$utilities: (
  // padding
  padding:
    (
      property: padding,
      propertyRtl: padding,
      cssName: p,
      breakpoint: true,
      values: $sizes,
    ),
  padding-right: (
    property: padding-right,
    propertyRtl: padding-right,
    cssName: pr,
    breakpoint: true,
    values: $sizes,
  ),
  padding-bottom: (
    property: padding-bottom,
    propertyRtl: padding-bottom,
    cssName: pb,
    breakpoint: true,
    values: $sizes,
  ),
  padding-top: (
    property: padding-top,
    propertyRtl: padding-top,
    cssName: pt,
    breakpoint: true,
    values: $sizes,
  ),
  padding-left: (
    property: padding-left,
    propertyRtl: padding-left,
    cssName: pl,
    breakpoint: true,
    values: $sizes,
  ),
  padding-start: (
    property: padding-left,
    propertyRtl: padding-right,
    cssName: ps,
    breakpoint: true,
    values: $sizes,
  ),
  padding-end: (
    property: padding-right,
    propertyRtl: padding-left,
    cssName: pe,
    breakpoint: true,
    values: $sizes,
  ),
  // margin
  margin:
    (
      property: margin,
      propertyRtl: margin,
      cssName: m,
      breakpoint: true,
      values: $sizes,
    ),
  margin-right: (
    property: margin-right,
    propertyRtl: margin-right,
    cssName: mr,
    breakpoint: true,
    values: $sizes,
  ),
  margin-bottom: (
    property: margin-bottom,
    propertyRtl: margin-bottom,
    cssName: mb,
    breakpoint: true,
    values: $sizes,
  ),
  margin-top: (
    property: margin-top,
    propertyRtl: margin-top,
    cssName: mt,
    breakpoint: true,
    values: $sizes,
  ),
  margin-left: (
    property: margin-left,
    propertyRtl: margin-left,
    cssName: ml,
    breakpoint: true,
    values: $sizes,
  ),
  margin-start: (
    property: margin-left,
    propertyRtl: margin-right,
    cssName: ms,
    breakpoint: true,
    values: $sizes,
  ),
  margin-end: (
    property: margin-right,
    propertyRtl: margin-left,
    cssName: me,
    breakpoint: true,
    values: $sizes,
  ),

  // Position
  position:
    (
      property: position,
      propertyRtl: position,
      cssName: position,
      breakpoint: true,
      values: (
        relative: relative,
        absolute: absolute,
        fixed: fixed,
        static: static,
      ),
    ),

  // Display
  display:
    (
      property: display,
      propertyRtl: display,
      cssName: display,
      breakpoint: true,
      values: (
        flex: flex,
        block: block,
        inline: inline,
        inline-block: inline-block,
        inline-flex: inline-flex,
        grid: grid,
        inline-grid: inline-grid,
      ),
    ),
  // Flexbox
  flex-grow:
    (
      property: flex-grow,
      propertyRtl: flex-grow,
      cssName: flex-grow,
      breakpoint: true,
      values: (
        0: 0,
        1: 1,
        initial: initial,
        inherit: inherit,
        none: none,
      ),
    ),
  // Align Items
  align-items:
    (
      property: align-items,
      propertyRtl: align-items,
      cssName: align-items,
      breakpoint: true,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),

  // Justify Content
  justify-content:
    (
      property: justify-content,
      propertyRtl: justify-content,
      cssName: justify-content,
      breakpoint: true,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
      ),
    ),

  // Flex Shrink
  flex-shrink:
    (
      property: flex-shrink,
      propertyRtl: flex-shrink,
      cssName: fs,
      breakpoint: true,
      values: (
        0: 0,
        1: 1,
        initial: initial,
        inherit: inherit,
        none: none,
      ),
    )
);
