@import "_normalize.scss";
@import "_variables.scss";

@each $utility, $config in $utilities {
  $property: map-get($config, property);
  $propertyRtl: map-get($config, propertyRtl);
  $cssName: map-get($config, cssName);
  $values: map-get($config, values);

  @each $size, $value in $values {
    .#{$cssName}-#{$size} {
      #{$property}: $value;
    }
    [dir="rtl"] .#{$cssName}-#{$size} {
      #{$propertyRtl}: $value;
    }
    .rtl\:#{$cssName}-#{$size} {
      #{$propertyRtl}: $value;
    }
  }
  @if map-get($config, breakpoint) {
    @each $bp, $width in $breakpoints {
      @media (min-width: $width) {
        @each $size, $value in $values {
          .#{$bp}\:#{$cssName}-#{$size} {
            #{$property}: $value;
          }

          [dir="rtl"] .#{$bp}\:#{$cssName}-#{$size} {
            #{$propertyRtl}: $value;
          }

          .rtl\:#{$bp}\:#{$cssName}-#{$size} {
            #{$propertyRtl}: $value;
          }
        }
      }
    }
  }
}
