@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntComponentComponent
@using Enter.Ui.Components.Text
@using Enter.Ui.Components.Button
@using Enter.Ui.Cores.Core
@implements IDisposable
<div class="@ClassNames">
    <EntText Type="EntTextType.Bold" class="ent-messagebox-title">@Message</EntText>
    <div class="ent-messagebox-action">
        <EntButton Color="ButtonColor.Primary" @onclick="OnConfirmClick">@ConfirmText</EntButton>
        <EntButton @onclick="OnCancelClick">@CancelText</EntButton>
    </div>
</div>

@code {

    [CascadingParameter]
    public EntModal Modal { get; set; } = default!;

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-messagebox");
        base.BuildClasses(builder);
    }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ConfirmText { get; set; }

    [Parameter]
    public string CancelText { get; set; }


    public async Task OnCancelClick()
    {
        await Modal.CancelAsync();
    }

    public async Task OnConfirmClick()
    {
        await Modal.CloseAsync();
    }


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}