@namespace Enter.UI.Components
@using Enter.UI.Components.Icon
@inherits Enter.UI.Cores.Bases.EntComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div  @ref="_modalReference" class="ent-modal-container" @onclick="OnContainerClick">
        <div class="@RootCss" @onclick:stopPropagation="true" @onclick="OnModalClick">
            <div class="ent-modal-header">
                <b class="title">@Title</b>
                @if (Options?.ShowCloseButton ?? true)
                {
                    <EntIcon class="icon" Click="()=>CancelAsync()" Icon="EntIconName.Remove"/>
                }
            </div>
            <div class="ent-modal-content">
                @ChildContent
            </div>
        </div>
    </div>
</CascadingValue>