@namespace Enter.UI.Components
@using Enter.UI.Services
@using Enter.UI.Components.Modal
@inherits Enter.UI.Cores.Bases.EntComponentBase

<div class="ent-modal-provider ">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var item in ModalInstances)
        {
           @item.ModalInstance
        }
    </CascadingValue>
</div>

