@namespace Enter.Ui.Components
@using Enter.Ui.Services
@using Enter.Ui.Components.Modal
@inherits Enter.Ui.Bases.EntComponentComponent

<div class="ent-modal-provider ">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var item in ModalInstances)
        {
            @item.ModalInstance
        }
    </CascadingValue>
</div>