@namespace Enter.Ui.Components
@inherits Enter.Ui.Cores.Bases.EntComponentBase
@using Enter.Ui.Components.Text
@using Enter.Ui.Components.Button
@implements IDisposable
<div class="@RootCss">
    <EntText Type="EntTextType.Bold" class="ent-messagebox-title">@Message</EntText>
    <div class="ent-messagebox-action">
        <EntButton Color="ButtonColor.Primary" @onclick="OnConfirmClick">@ConfirmText</EntButton>
        <EntButton @onclick="OnCancelClick">@CancelText</EntButton>
    </div>
</div>

@code {

    [CascadingParameter]
    public EntModal Modal { get; set; } = default!;

    private string RootCss => CssBuilder
        .AddCss("ent-messagebox").Build();

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ConfirmText { get; set; }

    [Parameter]
    public string CancelText { get; set; }


    public void OnCancelClick()
    {
        Modal.Cancel();
    }

    public void OnConfirmClick()
    {
        Modal.Close();
    }


    public override void Dispose()
    {
    }

}