@import "themes/basic.theme";
@import "themes/dark.theme";
@import url('../libs/remix/remixicon.css');
@import "normalize";
@import "_variables.scss";
@import "_mixins.scss";
@import "components/components";
@import "_core.scss";

html,
body {
  box-sizing: border-box;
  background-color: var(--ent-bg-page);
  color: var(--ent-color-body);
  font-size: var(--ent-body-font-size);
  font-weight: var(--ent-body-font-weight);
  line-height: var(--ent-body-line-height);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

[dir="rtl"] body {
  direction: rtl;
}



p {
  margin-bottom: map-get($font-sizes, "medium");
}


h1 {
  margin-top: 0;
  font-size: map-get($font-sizes, "title-lg");
}

h2 {
  font-size: map-get($font-sizes, "title");
}

h3 {
  font-size: map-get($font-sizes, "title-sm");
}

h4 {
  font-size: map-get($font-sizes, "medium-lg");
}

h5 {
  font-size: map-get($font-sizes, "medium")
}

h6 {
  font-size: map-get($font-sizes, "medium-sm")
}

small, .text_small {
  font-size: map-get($font-sizes, "subtitle")
}


.cursor-pointer {
  cursor: pointer;
}

.ent-rtl {


  text-align: right !important;
  direction: rtl !important;
}

.ent-ltr {

  direction: ltr !important;
  text-align: left !important;
 
}

code {
  color: var(--ent-primary);
  background: var(--ent-primary-subtle);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.72rem;
}


