:root {
  --ent-btn-border-width: var(--ent-border-width);
  --ent-btn-border-style: solid;
  --ent-btn-border-color: var(--ent-primary);
  --ent-btn-color: white;
  --ent-btn-bg: var(--ent-primary);
  --ent-btn-hover-bg: var(--ent-primary-emphasis);
  --ent-btn-hover-color: white;
  --ent-btn-font-size: var(--ent-body-font-size);
  --ent-btn-space-x: 1rem;
  --ent-btn-space-y: 0.625rem;

  --ent-btn-icon-bg: rgba(255, 255, 255, .1);
  --ent-btn-icon-color: white;
  --ent-btn-icon-hover-color: white;
  
}


.ent-btn-primary {
  --ent-btn-bg: var(--ent-primary);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-primary);
  --ent-btn-hover-bg: var(--ent-primary-emphasis);
  --ent-btn-hover-color: white;

  --ent-btn-icon-bg: var(--ent-primary-emphasis);
  --ent-btn-icon-color: white;
}


.ent-btn-light {
  --ent-btn-bg: var(--ent-light);
  --ent-btn-color: var(--ent-color-body);
  --ent-btn-border-color: var(--ent-light);
  --ent-btn-hover-bg: var(--ent-light-emphasis);
  --ent-btn-hover-color: var(--ent-color-body);

  --ent-btn-icon-bg: rgba(255, 255, 255, .9);
  --ent-btn-icon-color: var(--ent-color-body);

}

.ent-btn-dark {
  --ent-btn-bg: var(--ent-dark);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-dark);
  --ent-btn-hover-bg: var(--ent-dark-emphasis);
  --ent-btn-hover-color: white;
}

.ent-btn-secondary {
  --ent-btn-bg: var(--ent-secondary);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-secondary);
  --ent-btn-hover-bg: var(--ent-secondary-emphasis);
  --ent-btn-hover-color: white;
}

.ent-btn-tertiary {
  --ent-btn-bg: var(--ent-tertiary);
  --ent-btn-color: var(--ent-color-body);
  --ent-btn-border-color: var(--ent-tertiary);
  --ent-btn-hover-bg: var(--ent-tertiary-emphasis);
  --ent-btn-hover-color: var(--ent-color-body);
}

.ent-btn-success {
  --ent-btn-bg: var(--ent-success);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-success);
  --ent-btn-hover-bg: var(--ent-success-emphasis);
  --ent-btn-hover-color: white;
}

.ent-btn-danger {
  --ent-btn-bg: var(--ent-danger);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-danger);
  --ent-btn-hover-bg: var(--ent-danger-emphasis);
  --ent-btn-hover-color: white;
}

.ent-btn-warning {
  --ent-btn-bg: var(--ent-warning);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-warning);
  --ent-btn-hover-bg: var(--ent-warning-emphasis);
  --ent-btn-hover-color: white;
}

.ent-btn-info {
  --ent-btn-bg: var(--ent-info);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-info);
  --ent-btn-hover-bg: var(--ent-info-emphasis);
  --ent-btn-hover-color: white;

}

.ent-btn-link {
  --ent-btn-bg: var(--ent-link);
  --ent-btn-color: white;
  --ent-btn-border-color: var(--ent-link);
  --ent-btn-hover-bg: var(--ent-link-emphasis);
  --ent-btn-hover-color: white;

}


// outline

.ent-btn-outline-primary {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-primary);
  --ent-btn-border-color: var(--ent-primary);
  --ent-btn-hover-bg: var(--ent-primary);
  --ent-btn-hover-color: white;

  --ent-btn-icon-color: var(--ent-primary);
  --ent-btn-icon-hover-color: white;
  
}

.ent-btn-outline-light {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-light);
  --ent-btn-border-color: var(--ent-light);
  --ent-btn-hover-bg: var(--ent-light);
  --ent-btn-hover-color: var(--ent-color-body);
  
  --ent-btn-icon-bg: var(--ent-light-subtle);
  --ent-btn-icon-color: white;

}



.ent-btn-outline-dark {
  --ent-btn-bg: transparent;
  --ent-btn-color:  var(--ent-dark);
  --ent-btn-border-color: var(--ent-dark);
  --ent-btn-hover-bg: var(--ent-dark);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-bg: var(--ent-dark-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-secondary {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-secondary);
  --ent-btn-border-color: var(--ent-secondary);
  --ent-btn-hover-bg: var(--ent-secondary);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-bg: var(--ent-secondary-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-tertiary {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-tertiary);
  --ent-btn-border-color: var(--ent-tertiary);
  --ent-btn-hover-bg: var(--ent-tertiary);
  --ent-btn-hover-color: var(--ent-dark);

  --ent-btn-icon-bg: var(--ent-secondary-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-success {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-success);
  --ent-btn-border-color: var(--ent-success);
  --ent-btn-hover-bg: var(--ent-success);
  --ent-btn-hover-color: white;

  --ent-btn-icon-bg: var(--ent-success-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-danger {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-danger);;
  --ent-btn-border-color: var(--ent-danger);
  --ent-btn-hover-bg: var(--ent-danger);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-bg: var(--ent-danger-border-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-warning {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-warning);
  --ent-btn-border-color: var(--ent-warning);
  --ent-btn-hover-bg: var(--ent-warning);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-bg: var(--ent-warning-subtle);
  --ent-btn-icon-color: white;
}

.ent-btn-outline-info {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-info);
  --ent-btn-border-color: var(--ent-info);
  --ent-btn-hover-bg: var(--ent-info);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-bg: var(--ent-info-subtle);
  --ent-btn-icon-color: white;

}

.ent-btn-outline-link {
  --ent-btn-bg: transparent;
  --ent-btn-color: var(--ent-link);
  --ent-btn-border-color: var(--ent-link);
  --ent-btn-hover-bg: var(--ent-link);
  --ent-btn-hover-color: white;

  --ent-btn-icon-bg: var(--ent-link-subtle);
  --ent-btn-icon-color: white;

}


// soft

.ent-btn-soft-primary {
  --ent-btn-bg: var(--ent-primary-subtle);
  --ent-btn-color: var(--ent-primary);
  --ent-btn-border-color: transparent;

  --ent-btn-icon-color: var(--ent-primary);
  --ent-btn-icon-hover-color: white;

}

.ent-btn-soft-light {
  --ent-btn-bg: var(--ent-light-subtle);
  --ent-btn-color: white;
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-light);
  --ent-btn-hover-color: var(--ent-dark);
  
  --ent-btn-icon-color: white;
  --ent-btn-icon-hover-color: var(--ent-dark);
  

}

.ent-btn-soft-dark {
  --ent-btn-bg: var(--ent-dark-subtle);
  --ent-btn-color: var(--ent-dark);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-dark);
  --ent-btn-hover-color: white;

  --ent-btn-icon-color: var(--ent-dark);
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-secondary {
  --ent-btn-bg: var(--ent-secondary-subtle);
  --ent-btn-color: var(--ent-color-body);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-secondary);
  --ent-btn-hover-color: white;
  --ent-btn-icon-color: var(--ent-secondary);
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-tertiary {
  --ent-btn-bg: var(--ent-tertiary-subtle);
  --ent-btn-color: var(--ent-color-body);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-tertiary);
  --ent-btn-hover-color: var(--ent-color-body);
  --ent-btn-icon-color: var(--ent-tertiary);
  --ent-btn-icon-hover-color: var(--ent-color-body);
}

.ent-btn-soft-success {
  --ent-btn-bg: var(--ent-success-subtle);
  --ent-btn-color: white;
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-success);
  --ent-btn-hover-color: white;

  --ent-btn-icon-color: white;
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-danger {
  --ent-btn-bg: var(--ent-danger-subtle);
  --ent-btn-color:  var(--ent-danger);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-danger);
  --ent-btn-hover-color: white;

  --ent-btn-icon-color: var(--ent-danger);
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-warning {
  --ent-btn-bg: var(--ent-warning-subtle);
  --ent-btn-color: var(--ent-warning);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-warning);
  --ent-btn-hover-color: white;
  
  --ent-btn-icon-color: var(--ent-warning);
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-info {
  --ent-btn-bg: var(--ent-info-subtle);
  --ent-btn-color: var(--ent-info);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-info);
  --ent-btn-hover-color: white;

  
  --ent-btn-icon-color: var(--ent-info);
  --ent-btn-icon-hover-color: white;
}

.ent-btn-soft-link {
  --ent-btn-bg: var(--ent-link-subtle);
  --ent-btn-color: var(--ent-link);
  --ent-btn-border-color: transparent;
  --ent-btn-hover-bg: var(--ent-link);
  --ent-btn-hover-color: white;


  --ent-btn-icon-color: var(--ent-link);
  --ent-btn-icon-hover-color: white;
}


.ent-btn-sm {
  --ent-btn-space-x: 1rem;
  --ent-btn-space-y: 0.375rem;
}

.ent-btn-lg {
  --ent-btn-space-x: 1rem;
  --ent-btn-space-y: 0.875rem;
}

.ent-btn {


  &:hover {
    background-color: var(--ent-btn-hover-bg);
    color: var(--ent-btn-hover-color);
    transition: all 0.15s ease;

    .ent-btn-loading {
      animation: anim-ent-btn-spin-fast 1s infinite linear;
    }
  }

  transition: all 0.15s ease;
  padding: var(--ent-btn-space-y) var(--ent-btn-space-x);
  
  border: var(--ent-btn-border-width) var(--ent-btn-border-style) var(--ent-btn-border-color);
  background-color: var(--ent-btn-bg);
  color: var(--ent-btn-color);
  fill: var(--ent-btn-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: $border-radius;


}


.ent-icon-btn {
  &:hover {
    .icon-wrapper {
      .icon {
        display: block;
        fill: var(--ent-btn-hover-color);
        border-color: var(--ent-btn-hover-color);
        color: var(--ent-btn-hover-color);
      }
    }  
  }
  .icon-wrapper {
    .icon {
      display: block;
      fill: var(--ent-btn-color);
      border-color: var(--ent-btn-color);
      color: var(--ent-btn-color);
    }
  }
}



