.ent-form-group {
    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: 0.5rem;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    > label {
        font-size: map-get($font-sizes, "medium-sm");
    }

    > label {
        font-size: map-get($font-sizes, "medium-sm");
    }

    > .validation-message {
        font-size: map-get($font-sizes, "subtitle-lg");
        color: red;
    }
}


.ent-input {
    width: 100%;
    border: $border;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .ent-input-field {
        flex-grow: 1;
        padding: 0.5rem 1rem;
        border: 0;
        outline: 0;
    }

    > .ent-input-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        color: map-get($colors, "mute");
    }


    &.modified.valid {
        border-color: $color-neutral-300;
    }

    &.modified.invalid {
        border-color: $color-red-300;
    }
}



.ent-input-autocomplete {
}


.ent-input-autocomplete-container {
    border: $border;
    background-color: map-get($colors,"lighteen");

    > .ent-input-autocomplete-search-input {
        background-color: map-get($colors,"white");
    }

    > .ent-input-autocomplete-menu {
        background-color: map-get($colors,"white");
        list-style: none;
        padding: 0;
        margin: 0;


        > .ent-input-autocomplete-menu-item {
            padding: 0.5rem 1rem;
            border-bottom: $border;
            cursor: pointer;
        }

        > .ent-input-autocomplete-menu-item:last-child {
            border-bottom: 0;
        }
    }

    > .ent-input-autocomplete-message {
        padding: 0;
        margin: 0;
    }
}

.ent-select-container {
    border: $border;
    background-color: map-get($colors,"lighteen");
    display: flex;
    flex-direction: column;


    > .ent-select-item {
        padding: 0.5rem 1rem;
        border-bottom: $border;
        cursor: pointer;
        width: 100%;
    }

    > .ent-select-item:last-child {
        border-bottom: 0;
    }
}




.ent-select {
    width: 100%;
    border: $border;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .ent-select-field {
        flex-grow: 1;
        padding: 0.5rem 1rem;
        border: 0;
        outline: 0;
    }

    > .ent-select-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        color: map-get($colors, "mute");
    }


    &.modified.valid {
        border-color: $color-neutral-300;
    }

    &.modified.invalid {
        border-color: $color-red-300;
    }
}