.ent-nav-menu {
  display: flex;
  flex-direction: column;
  border: $border;

  > * {
    border-bottom: $border;
  }

  .ent-nav-menu-group {
    display: flex;
    flex-direction: column;

   
    > .ent-nav-menu-group-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
      
      

      > .ent-nav-menu-group-item-title {
        flex-grow: 1;
        margin-inline-start: 1rem;
      }

      > .ent-nav-menu-group-item-arrow-icon {
        margin-inline-start: 1rem;
        transform: rotate(0deg);
        transition: all 0.25s ease-in;
      }

    }

    &.active {
      background-color: map-get($colors,"lighteen");
     > .ent-nav-menu-group-item {
       background-color: map-get($colors,"light");
       > .ent-nav-menu-group-item-arrow-icon {
         margin-inline-start: 1rem;
         transform: rotate(180deg);
         transition: all 0.25s ease-in;
       }
     }
    }
    
    > .ent-nav-menu-group-container {
      height: 0;
      overflow: hidden;
  
      
      
      > * {
        border-bottom: $border;
      }
      > *:first-child {
        border-top: $border;
      }
      > *:last-child {
        border-bottom: 0;
      }
    }
  }

  .ent-nav-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: map-get($colors,"lighteen");
    }
    
    .ent-nav-menu-item-icon {
      
    }

    .ent-nav-menu-item-content {
      flex-grow: 1;
      margin-inline-start: 1rem;
    }
  }

}