.ent-app-bar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  gap: 1rem;
  
  >.ent-app-bar-title {
  }
  > .ent-app-bar-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

