.ent-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > .ent-input-group-label {
        font-size: map-get($font-sizes, "medium");

        font-weight: 500;
    }


    > .ent-input-group-validation {
        font-size: map-get($font-sizes, "subtitle");
        color: $color-red-500;
       
    }
}

// input

.ent-input {
    width: 100%;
    min-width: 350px;
    border: $border;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .ent-input-field {
        flex-grow: 1;
        padding: 0.5rem 1rem;
        border: 0;
        outline: 0;
    }

    > .ent-input-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        color: map-get($colors, "mute");
    }
}





// input-autocomplete

.ent-input-autocomplete {

}

.ent-input-autocomplete-container {
    margin-top: 0.25rem;
    background-color: map-get($colors,"lighte");

    > .ent-input-autocomplete-list {
        background-color: map-get($colors,"white");
        max-height: 10rem;
        overflow-y: scroll;
    }

    > .ent-input-autocomplete-message {
        padding: 0;
        margin: 0;
    }
}

// select

.ent-select {
    border: $border;
    cursor: pointer;
    min-width: 350px;
    > .ent-select-input {
        border: 0;

        .ent-select-input-placeholder {
            font-size: map-get($font-sizes,"description");
            color: map-get($colors, "mute");
        }
    }
}
.ent-select-container {
    margin-top: 0.25rem;
    background-color: map-get($colors,"lighte");

    > .ent-select-list {
        max-height: 10rem;
        overflow-y: scroll;
        background-color: map-get($colors,"white");
    }

    > .ent-select-message {
        padding: 0;
        margin: 0;
    }
}

// validation

.ent-input-validation {

    &.modified.valid {
        border-color: $color-neutral-300;
    }

    &.modified.invalid {
        border-color: $color-red-300;
    }
}