@namespace Enter.UI.Components
@inherits EntBaseComponent
<div @attributes="AdditionalAttributes" class="@RootCss" >
    @if (AppBar != null)
    {
        <div class="@AppBarCss">
            @AppBar
        </div>
    }
    <EntDrawerContainer >
        @if ( Sidebar != null)
        {
            <EntDrawer Open="_sidebarIsOpen" Direction="EntDrawerDirection.Start" >
                                @Sidebar
            </EntDrawer>
            
        }

        <div class="@ContentCss">
            @Content
        </div>
    </EntDrawerContainer>
</div>