@namespace Enter.UI.Components
@inherits EntBaseComponent
<div @attributes="Attributes" class="@RootCss" >
    @if (AppBar != null)
    {
        <div class="@AppBarCss">
            @AppBar
        </div>
    }
    <div class="ent-layout-container">
        @if ( Sidebar != null)
        {
            <div class="@SidebarCss" >
                @Sidebar
            </div>
        }

        <div class="@ContentCss">
            @Content
        </div>
    </div>
</div>