@namespace Enter.Ui.Components
<div class="@ClassNames">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent

    </CascadingValue>

</div>
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent

@code {
    public override string ComponentName => nameof(EntDrawerContainer);
    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-drawer-container");
        base.BuildClasses(builder);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }


    private bool HasBackdrop { get; set; } = false;


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}