@namespace Enter.UI.Components
<div class="@RootCss">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
         
    </CascadingValue>
    
</div>
@using System.ComponentModel
@inherits EntComponentBase

@code {

    public string RootCss => CssClassBuilder
        .AddClass($"ent-drawer-container")
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool HasBackdrop { get; set; } = false;



    public override void Dispose()
    {
        
    }

}