@namespace Enter.Ui.Components
<div class="@ClassNames">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent

    </CascadingValue>

</div>
@inherits Enter.Ui.Bases.EntComponentBase

@code {

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-drawer-container");
        base.BuildClasses(builder);
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool HasBackdrop { get; set; } = false;


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}