
:root {
  --ent-size-none: 0;
  --ent-size-xxs: 2px;
  --ent-size-xs: 4px;
  --ent-size-sm-nudge: 6px;
  --ent-size-sm: 8px;
  --ent-size-md-nudge: 10px;
  --ent-size-md: 12px;
  --ent-size-lg: 16px;
  --ent-size-xl: 20px;
  --ent-size-xxl: 24px;
  --ent-size-xxxl: 32px;
  
  --ent-stroke-thin : 1px;
  --ent-stroke-thick : 2px;
  --ent-stroke-thicker : 3px;
  --ent-stroke-thickest : 3px;

  --ent-transition-all : all 0.2s ease;

  --ent-radius-none : 0px;
  --ent-radius-xs : 1px;
  --ent-radius-sm : 2px;
  --ent-radius-md : 4px;
  --ent-radius-lg : 6px;
  --ent-radius-xl : 8px;
  
  
  --ent-shadow-sm: 0 0 2px rgba(0,0,0,0.12) 0 1px 2px rgba(0,0,0,0.14);
  --ent-shadow-md: 0 0 2px rgba(0,0,0,0.12) 0 2px 4px rgba(0,0,0,0.14);
  --ent-shadow-lg: 0 0 2px rgba(0,0,0,0.12) 0 4px 8px rgba(0,0,0,0.14);
  
  
}


