html[data-theme="dark"] {

  // Background
  
  --ent-bg-body: #222222;
  --ent-bg-body-backdrop: rgba(231, 231, 231, 0.5);
  --ent-bg-body-backdrop-sm: rgba(231, 231, 231, 0.25);
  
  --ent-bg-base: #2f2f2f;
  --ent-bg-base-2: #333333;
  
  --ent-bg-neutral: #383838;
  --ent-bg-neutral-highlight: #3c3c3c;
  --ent-bg-neutral-select: #404040;
  --ent-bg-neutral-emphasis: #444444;

  --ent-bg-primary: #524eb7;
  --ent-bg-primary-highlight: #5552b8;
  --ent-bg-primary-select: #5955ba;
  --ent-bg-primary-emphasis: #5c59bb;

  // Foreground 
  
  --ent-fg-body: #e6e6e6;

  --ent-fg-base: #e7e7e7;
  --ent-fg-base-highlight: #e8e8e8;
  --ent-fg-base-select: #e8e8e8;
  --ent-fg-base-emphasis: #e9e9e9;

  --ent-fg-light: #f4f4f4;
  --ent-fg-light-highlight: #f4f4f4;
  --ent-fg-light-select: #f4f4f4;
  --ent-fg-light-emphasis: #f4f4f4;

  --ent-fg-primary: #524eb7;
  --ent-fg-primary-highlight: #5552b8;
  --ent-fg-primary-select: #5955ba;
  --ent-fg-primary-emphasis: #5c59bb;

  // Stroke
  
  --ent-stroke-base: #3b3b3b;
  --ent-stroke-base-highlight: #3b3b3b;
  --ent-stroke-base-select: #3b3b3b;
  --ent-stroke-base-emphasis: #4f4f4f;

  --ent-stroke-primary: #524eb7;
  --ent-stroke-primary-highlight: #5552b8;
  --ent-stroke-primary-select: #5955ba;
  --ent-stroke-primary-emphasis: #5c59bb;

  
  // Shaders
  
  --ent-primary: #524eb7;
  --ent-primary-emphasis: #5c59bb;
  --ent-primary-subtle: rgb(103, 58, 183, .15);

  --ent-success: #4CAF50;
  --ent-success-emphasis: #5cb860;
  --ent-success-subtle: rgb(76, 175, 80, .15);

  --ent-danger: #F44336;
  --ent-danger-emphasis: #f5564a;
  --ent-danger-subtle: rgb(244, 67, 54, .15);

  --ent-warning: #FFC107;
  --ent-warning-emphasis: #ffc720;
  --ent-warning-subtle: rgb(255, 193, 7, .15);

  --ent-info: #2196F3;
  --ent-info-emphasis: #0d89ec;
  --ent-info-subtle: rgb(33, 150, 243, .15);

  --ent-secondary: #9C27B0;
  --ent-secondary-emphasis: #8c239e;
  --ent-secondary-subtle: rgb(156, 39, 176, .15);

  --ent-light: #282b2e;
  --ent-light-emphasis: #535659;
  --ent-light-subtle: #25282c;

  --ent-dark: #313437;
  --ent-dark-emphasis: #5f6164;
  --ent-dark-subtle: #313437;

  --ent-link: #2196F3;
  --ent-link-emphasis: #0d89ec;
  --ent-link-subtle: rgb(33, 150, 243, .15);

  --ent-primary-border-subtle: #2a3559;
  --ent-secondary-border-subtle: #1b3c79;
  --ent-success-border-subtle: #055a4e;
  --ent-info-border-subtle: #154e6e;
  --ent-warning-border-subtle: #7c5c26;
  --ent-danger-border-subtle: #783324;
  --ent-light-border-subtle: #35383c;
  --ent-dark-border-subtle: #3c3f42;


  // color 
  --ent-color-body: #ced4da;
  --ent-color-emphasis: #fff;
  --ent-color-secondary: #878a99;
  --ent-color-light: #071437;
  --ent-color-dark: #ced4da;
  --ent-color-tertiary: rgba(206, 212, 218, 0.75);
  --ent-color-heading: #ced4da;
  --ent-color-link: #009ef7;

  // border
  --ent-border-color: #32383e;
  --ent-border-width: 1px;
  --ent-border-style: solid;
  --ent-border-radius: 0.25rem;

  // shadow
  --ent-shadow: 0px 0px 20px 0px rgba(75, 75, 75, 0.05);


}