@namespace Enter.UI.Components
@inherits EntBaseComponent
<button @attributes="@AdditionalAttributes" class="@RootClass">
    @if (Icon != null)
    {
        <EntIcon Size="4" Icon="@Icon"/>
    }
    @ChildContent
</button>

@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-btn")
        .AddClass("ent-btn-lg", Size == ButtonSize.Large)
        .AddClass("ent-btn-sm", Size == ButtonSize.Small)
        .AddClass("ent-btn-primary", Color == ButtonColor.Primary)
        .AddClass("ent-btn-secondary", Color == ButtonColor.Secondary)
        .AddClass("ent-btn-light", Color == ButtonColor.Light)
        .AddClass("ent-btn-dark", Color == ButtonColor.Dark)
        .AddClass("ent-btn-success", Color == ButtonColor.Success)
        .AddClass("ent-btn-danger", Color == ButtonColor.Danger)
        .AddClass("ent-btn-warning", Color == ButtonColor.Warning)
        .AddClass("ent-btn-info", Color == ButtonColor.Info)
        .AddClass("ent-btn-outline", IsOutline)
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Default;

    [Parameter]
    public bool IsOutline { get; set; } = false;

    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.Primary;

    [Parameter]
    public string? Icon { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var attr = AdditionalAttributes;
        }
        base.OnAfterRender(firstRender);
    }

}