@keyframes anim-ent-btn-spin
{
  0%{
    animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform:rotate(0);
  }
  100%{
    transform:rotate(900deg)
  }
}

@keyframes anim-ent-btn-spin-fast
{
  0%{
    animation-timing-function:cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform:rotate(0);
  }
  100%{
    transform:rotate(1800deg)
  }
}

@import "ent_button.component";
@import "ent_messagebox.component";
@import "ent_tab.component";
@import "ent_toolbar.component";
@import "ent_app_bar.component";
@import "ent_card.component";
@import "ent_icon.component";
@import "ent_form.component";
@import "ent_expandable.component";
@import "ent_modal.component";
@import "ent_nav_menu.component";
@import "ent_table.component";
@import "ent_popover.component";
@import "ent_overlay.component";
@import "ent_list.component";
@import "ent_treeview.component";
@import "ent_toast.component";
@import "ent_drawer.component";
@import "ent_pagination.component";