.ent-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ent-color-body);
  fill: var(--ent-color-body);
}

.ent-icon-size-sm {
  font-size: 12px;
  height: 12px;
  width: 12px;
}
.ent-icon-size-lg {
  font-size: 16px;
  height: 16px;
  width: 16px;
}
