.ent-treeview {
  padding: 0;
  list-style: none;
  margin: 0;

  .ent-treeview-childrens-expanable {
    border: 0;
  }


  .ent-treeview-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    &:hover {
      background-color: var(--ent-bg-neutral-highlight);
    }
    
    &.active {
      background-color: var(--ent-bg-neutral-select);
    }

    &.expanded {
      .ent-treeview-item-list-icon {
        transform: rotate(-180deg);
        transition: all 0.25s ease-in-out;
      }
    }

    .ent-treeview-item-checkbox {
      margin-inline-end: 0.5rem;
    }

    .ent-treeview-item-text {
    }

    .ent-treeview-item-icon {
      margin-inline-end: 0.5rem;
    }

    .ent-treeview-item-list-icon {
      width: 1rem;
      margin-inline-end: 0.5rem;
      transform: rotate(0deg);
      transition: all 0.25s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .ent-treeview-childrens {
    border: 0;
    margin-inline-start: 1.5rem;
  }
}
