:root {
    //input 
    --ent-input-bg: var(--ent-bg-neutral);
    --ent-input-popover-bg: var(--ent-bg-neutral-highlight);
    --ent-input-popover-hover-bg: var(--ent-bg-neutral-active);
    --ent-input-color: var(--ent-fg-base);
    --ent-input-color-placeholder: var(--ent-fg-base-highlight);
    --ent-input-font-size: 14px;
    --ent-input-line-height: 20px;
    --ent-input-stroke-color: var(--ent-stroke-base);
    --ent-input-stroke-color-focus: var(--ent-stroke-base-emphasis);
    --ent-input-stroke-size: var(--ent-stroke-thin);
    --ent-input-stroke-style: solid;
    --ent-input-border-radius: var(--ent-radius-sm);
    --ent-input-space-x: 12px;
    --ent-input-space-y: 5px;
    --ent-input-icon-color: var(--ent-fg-base);
    
}

// input
.ent-input {
    min-width: 300px;
    border: var(--ent-input-stroke-size) solid var(--ent-input-stroke-color);
    border-radius: var(--ent-card-border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--ent-input-bg);
    color: var(--ent-input-color);
    &:focus {
        border: var(--ent-input-stroke-size) solid var(--ent-input-stroke-color-focus);
    }
    > .ent-input-field {
        flex-grow: 1;
        padding: var(--ent-input-space-y) var(--ent-input-space-x);
        border: 0;
        outline: 0;
        background-color: transparent;
        color: var(--ent-input-color);
        line-height: var(--ent-input-line-height);
        font-size: var(--ent-input-font-size);

       
    }

    > .ent-input-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--ent-input-space-y) var(--ent-input-space-x);
        color: var(--ent-input-icon-color);
        font-size: var(--ent-input-font-size);
    }
}



.ent-input.ent-input-lg {
    > .ent-input-field {
        --ent-input-font-size: 16px;
        --ent-input-line-height: 24px;
        --ent-input-space-x: 16px;
        --ent-input-space-y: 7px;

    }
}


.ent-input.ent-input-sm {
    > .ent-input-field {
        --ent-input-font-size: 12px;
        --ent-input-line-height: 16px;
        --ent-input-space-x: 8px;
        --ent-input-space-y: 3px;
    }
}

// input-autocomplete

.ent-input-autocomplete {
    border-radius: var(--ent-card-border-radius);
    overflow: hidden;
}

.ent-input-autocomplete-container {
    margin-top: 0.25rem;
    background-color: var(--ent-input-popover-bg);

    > .ent-input-autocomplete-list {
        background-color: var(--ent-input-popover-bg);
        max-height: 10rem;
        overflow-y: scroll;
    }

    > .ent-input-autocomplete-message {
        padding: 0;
        margin: 0;
    }
}

// select

.ent-select {
    border: var(--ent-input-stroke-size) solid var(--ent-input-stroke-color);
    cursor: pointer;
    min-width: 300px;
    overflow: hidden;
    border-radius: var(--ent-card-border-radius);
    &:focus {
        border: var(--ent-input-stroke-size) solid var(--ent-input-stroke-color-focus);
    }
    
    > .ent-select-input {
        border: 0;
        
        .ent-select-input-placeholder {
            color:var(--ent-input-color-placeholder);
        }
    }
}
.ent-select-container {
    margin-top: 0.25rem;
    background-color: var(--ent-input-popover-bg);

    > .ent-select-list {
        max-height: 10rem;
        overflow-y: scroll;
        background-color: var(--ent-input-popover-bg);
    }

    > .ent-select-message {
        padding: 0;
        margin: 0;
    }
}

// validation

.ent-input-validation {

    &.modified.valid {
        //border-color: $color-neutral-300;
    }

    &.modified.invalid {
        border-color: $color-red-300;
    }
}

.ent-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > .ent-input-group-label {
        font-size: map-get($font-sizes, "medium");
        font-weight: 500;
    }


    > .ent-input-group-validation {
        font-size: map-get($font-sizes, "subtitle");
        color: $color-red-500;

    }
}