
:root {
  --ent-tab-bg: var(--ent-bg-base);
  --ent-tab-item-bg: var(--ent-bg-neutral);
  --ent-tab-item-bg-hover: var(--ent-bg-neutral-highlight);
  --ent-tab-item-bg-active: var(--ent-bg-neutral-select);
  --ent-tab-item-font-size: var(--ent-font-size);
  --ent-tab-item-line-height: var(--ent-typo-line-height-md);
  --ent-tab-box-shadow: var(--ent-shadow);
  --ent-tab-border-width: var(--ent-border-1);
  --ent-tab-border-style: solid;
  --ent-tab-border-color: var(--ent-stroke-base);

  --ent-tab-space-x: var(--ent-space-4);
  --ent-tab-space-b: var(--ent-space-2);
  --ent-tab-space-y: var(--ent-space-2);
}

.ent-tab {
  display: flex;
  border: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);

  .ent-tab-content {
    padding:
            var(--ent-tab-space-y)
            calc(var(--ent-tab-space-x) - var(--ent-tab-border-width))
            calc(var(--ent-tab-space-y) - var(--ent-tab-border-width))
            var(--ent-tab-space-x);
    
    display: flex;
    gap: var(--ent-tab-space-b);
    font-size: var(--ent-typo-font-size-md);
    line-height: var(--ent-typo-line-height-md);
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;


    .ent-tab-close {
      opacity: 0;
      transition: var(--ent-transition-all);
    }
  }

  .ent-tab-action {
    display: flex;
    padding:
            var(--ent-tab-space-y)
            calc(var(--ent-tab-space-x) - var(--ent-tab-border-width))
            calc(var(--ent-tab-space-y) - var(--ent-tab-border-width))
            var(--ent-tab-space-x);
    width: fit-content;
    border-inline-start: $border;
    border-color: transparent;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
  .ent-tab-item-container {

    list-style: none;
    margin: 0;
    background-color: var(--ent-tab-bg);
    padding: 0;
    display: flex;
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
    box-shadow: var(--ent-tab-box-shadow);

    
    
    .ent-tab-item {
      
      background-color: var(--ent-tab-item-bg);
      cursor: pointer;
      display: flex;

      &:hover {
        background-color: var(--ent-tab-item-bg-hover);

        > .ent-tab-content > .ent-tab-close {
          opacity: 1;
          transition: var(--ent-transition-all);
        }
      }

      &.active {
        background-color: var(--ent-tab-item-bg-active);

        > .ent-tab-content > .ent-tab-close {
          opacity: 1;
          transition: var(--ent-transition-all);
        }
      }
      
      
    }

    > .ent-tab-item-vertical {

      > .ent-tab-content {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
      }

      &.ent-tab-item-minify {
        height: 4rem;
        width: 4rem;
      }
    }

    > .ent-tab-item-horizontal {
      > .ent-tab-content {
        flex-direction: row;
      }

      &.ent-tab-item-minify {
        height: 39px;
      }
    }
  }
  


  > .ent-tab-item-container-message {
    display: flex;
    align-items: center;
    background-color: var(--ent-tab-bg);
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
    box-shadow: var(--ent-tab-box-shadow);

    > * {
      
      
      margin: 0;
      font-size: var(--ent-typo-font-size-md);
      line-height: var(--ent-typo-line-height-md);
    }
  }



  > .responsive\:ent-tab-item-container {
    background-color: var(--ent-tab-bg);

    > .responsive\:ent-tab-item-container-header {

      .ent-tab-expand-icon {
        
        transition: var(--ent-transition-all);
        &.expand .icon-wrapper {
          transform: rotate(180deg);
          
        }
        &.collapse .icon-wrapper{
          transform: rotate(0);
        }
      }
      
      > .ent-tab-content {
        display: flex;
        padding:
                calc(var(--ent-space-2) - var(--ent-tab-border-width))
                calc(var(--ent-space-4) - var(--ent-tab-border-width))
                calc(var(--ent-space-2) - var(--ent-tab-border-width))
        calc(var(--ent-space-4) - var(--ent-tab-border-width));

        span {
          flex: 1;
        }
      }
    }

    > .responsive\:ent-tab-item-container-content {

      > .ent-tab-item-container {
        
        
        list-style: none;
        margin: 0;
        background-color: var(--ent-tab-bg);
        padding: 0;
        display: flex;
        flex-direction: column;
        border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
        box-shadow: var(--ent-tab-box-shadow);

        > .ent-tab-item {
            
          > .ent-tab-content {

            width: 100%;
            padding: calc(var(--ent-space-1) - var(--ent-tab-border-width)) calc(var(--ent-space-4) - var(--ent-tab-border-width)) calc(var(--ent-space-1) - var(--ent-tab-border-width)) var(--ent-space-4);
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            border-top: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
            font-size: var(--ent-typo-font-size-sm);

            span {
              flex: 1;
            }

            .ent-tab-close {
              opacity: 1;
            }
          }
        }

        .ent-tab-item:last-child {
        }
      }

      > .ent-tab-item-actions {
        border-top: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
        padding: var(--ent-tab-space-y);
        display: flex;
        gap: 4px;
      }
    }
  }
}

.ent-tab-horizontal {
  flex-direction: row;

  > .ent-tab-item-container {
    flex-direction: column;


    > * {
      border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
    }
  }

  > .ent-tab-item-container-message {

    padding:
            var(--ent-space-3)
            calc(var(--ent-space-4) - var(--ent-tab-border-width))
            calc(var(--ent-space-3) - var(--ent-tab-border-width))
            calc(var(--ent-space-4) - var(--ent-tab-border-width));

    writing-mode: sideways-rl;

    > * {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }

  > .ent-tab-panel-container {
    border-inline-start: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
  }
}

.ent-tab-vertical {
  flex-direction: column;


  > .ent-tab-item-container {
    flex-direction: row;
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);

    > * {
      border-inline-end: $border;
    }
  }

  > .ent-tab-item-container-message {
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border-color);
    padding:
            var(--ent-space-3)
            calc(var(--ent-space-4) - var(--ent-tab-border-width))
            calc(var(--ent-space-3) - var(--ent-tab-border-width))
            calc(var(--ent-space-4) - var(--ent-tab-border-width));
    
    
  }
}

.ent-tab-panel {
  display: none;
}

.ent-tab-panel.active {
  display: block;
}