
.ent-nav-menu {
  display: flex;
  flex-direction: column;
  border: $border;
  background-color: var(--ent-bg-base);
  > * {
    border-bottom: $border;
  }

  .ent-nav-menu-group {
    display: flex;
    flex-direction: column;

   
    > .ent-nav-menu-group-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .625rem 1.5rem;
      cursor: pointer;
     
      
      > .ent-nav-menu-group-item-icon {
          margin-inline-end: 1rem;
      }
      > .ent-nav-menu-group-item-title {
        flex-grow: 1;
      }

      > .ent-nav-menu-group-item-arrow-icon {
        margin-inline-start: 1rem;
        transform: rotate(0deg);
        transition: all 0.25s ease-in;
      }

    }

    &.active {
     > .ent-nav-menu-group-item {
      
       > .ent-nav-menu-group-item-arrow-icon {
         margin-inline-start: 1rem;
         transform: rotate(180deg);
         transition: all 0.25s ease-in;
       }
       
       
     }
    }
    
    > .ent-nav-menu-group-container {
      height: 0;
      overflow: hidden;
      background-color: var(--ent-bg-base-highlight);
      
      &.active {
        > .ent-nav-menu-item {
          background-color: var(--ent-bg-base-emphasis);
        }
      }
      
      > * {
        border-bottom: $border;
      }
      > *:first-child {
        border-top: $border;
      }
      > *:last-child {
        border-bottom: 0;
      }
    }
  }

  .ent-nav-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-light;
    }
    
    .ent-nav-menu-item-icon {
      
    }

    .ent-nav-menu-item-content {
      flex-grow: 1;
      margin-inline-start: 1rem;
    }
  }

}