:root {
  --ent-modal-space-y: 1rem;
  --ent-modal-space-x: 1rem;
  --ent-modal-bg: var(--ent-bg-base);
  --ent-modal-header-bg: var(--ent-bg-base);
  --ent-modal-header-color: var(--ent-color-body);
  --ent-modal-border-width: var(--ent-border-width);
  --ent-modal-border-style: var(--ent-border-style);
  --ent-modal-border-color: var(--ent-border-color);
  --ent-modal-border-radius: var(--ent-border-radius);
  --ent-modal-box-shadow: var(--ent-shadow);
}

.ent-modal-provider {
    z-index: var(--ent-z-index-secondary);
}
.ent-modal-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--ent-bg-body-backdrop);
  
  .ent-modal {

    border-radius: var(--ent-modal-border-radius);
    overflow: hidden;
    background-color: var(--ent-modal-bg);

    .ent-modal-header {
      padding: var(--ent-modal-space-y) var(--ent-modal-space-x);
      display: flex;
      align-items: center;
      border-bottom: var(--ent-modal-border-width) var(--ent-modal-border-style) var(--ent-modal-border-color);
      background-color: var(--ent-modal-header-bg);
      
      .title {
        flex-grow: 1;
       
      }
      
      .icon {
        cursor: pointer;
        font-size: map-get($font-sizes,"title");
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    }
    
    .ent-modal-content {
      padding: var(--ent-modal-space-y) var(--ent-modal-space-x);
    }
    
    $modal-space : 32px;
    &.ent-modal-sm {
      width: 98%;
      
      @include media("mobile"){
        width: map-get($breakpoints,"mobile");
      }
      @include media("tablet"){
        width: map-get($breakpoints,"tablet")- $modal-space;
      }
    }

    &.ent-modal-md {
      width: 98%;

      @include media("mobile"){
        width: map-get($breakpoints,"mobile")
      }
      @include media("tablet"){
        width: map-get($breakpoints,"tablet")
      }
      @include media("laptop"){
        width: map-get($breakpoints,"laptop") 
      }
    }

    &.ent-modal-lg {
      width: 98%;

      @include media("mobile"){
        width: map-get($breakpoints,"mobile")
      }
      @include media("tablet"){
        width: map-get($breakpoints,"tablet")
      }
      @include media("laptop"){
        width: map-get($breakpoints,"laptop") 
      }
      @include media("desktop"){
        width: map-get($breakpoints,"desktop")
      }
    }
    &.ent-modal-xl {
      width: 98%;

      @include media("mobile"){
        width: map-get($breakpoints,"mobile") 
      }
      @include media("tablet"){
        width: map-get($breakpoints,"tablet") 
      }
      @include media("laptop"){
        width: map-get($breakpoints,"laptop")
      }
      @include media("desktop"){
        width: map-get($breakpoints,"desktop")
      }
      @include media("screen"){
        width: map-get($breakpoints,"screen")
      }
    }
    &.ent-modal-fs {
      width: 98%;
      height: 98%;
    }
  }
}