.ent-icon {
  font-size: 1em;
}
.ent-icon-size-xs {
  font-size: 0.75em;
}
.ent-icon-size-sm {
  font-size: 0.875em;
}
.ent-icon-size-lg {
  font-size: 1.25em;
}
.ent-icon-size-xl {
  font-size: 1.5em;
}
.ent-icon-size-x2 {
  font-size: 2em;
}
.ent-icon-size-x3 {
  font-size: 3em;
}
.ent-icon-size-x4 {
  font-size: 4em;
}
.ent-icon-size-x5 {
  font-size: 5em;
}
.ent-icon-size-x6 {
  font-size: 6em;
}
.ent-icon-size-x7 {
  font-size: 7em;
}
.ent-icon-size-x8 {
  font-size: 8em;
}
.ent-icon-size-x9 {
  font-size: 9em;
}
.ent-icon-size-x10 {
  font-size: 10em;
}