:root {
  --ent-toolbar-space-y: var(--ent-space-2);
  --ent-toolbar-space-x: var(--ent-space-3);
  --ent-toolbar-space-b: var(--ent-space-2);
  --ent-toolbar-z-index: var(--ent-z-index-tertiary);
  --ent-toolbar-bg: var(--ent-bg-base);
  --ent-toolbar-border-width: 1px;
  --ent-toolbar-border-style: solid;
  --ent-toolbar-border-color: var(--ent-border-1);
  --ent-toolbar-border-radius: var(--ent-border-radius-2);
  --ent-toolbar-box-shadow: var(--ent-shadow-sm);
}

.ent-toolbar {
  padding: 8px 12px 7px 12px;
  border-bottom: var(--ent-toolbar-border-width) var(--ent-toolbar-border-style) var(--ent-toolbar-border-color);
  background-color: var(--ent-toolbar-bg);
  border-radius: var(--ent-toolbar-border-radius);
  box-shadow: var(--ent-toolbar-box-shadow);
  z-index: var(--ent-toolbar-z-index);
  display: flex;
  flex-direction: column;
}

