
:root {
  --ent-tab-bg: var(--ent-bg-base);
  --ent-tab-container-bg: var(--ent-bg-base);
  --ent-tab-active-bg: var(--ent-bg-neutral-active);
  --ent-tab-box-shadow: var(--ent-shadow);
  --ent-tab-border-width: var(--ent-border-width);
  --ent-tab-border-style: var(--ent-border-style);
  --ent-tab-border-color: var(--ent-border-color);
}

.ent-tab {
  display: flex;
  border: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border);


  > .ent-tab-item-container-message {
    display: flex;
    align-items: center;
    background-color: var(--ent-tab-container-bg);
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border);
    box-shadow: var(--ent-tab-box-shadow);
    
    > * {
      padding: 0;
      margin: 0;
    }
  }

  > .ent-tab-item-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--ent-tab-container-bg);
    border-bottom: var(--ent-tab-border-width) var(--ent-tab-border-style) var(--ent-tab-border);
    box-shadow: var(--ent-tab-box-shadow);
    
    > .ent-tab-item {

      cursor: pointer;
      display: flex;
      
      .ent-tab-content {
        padding: 8px 16px;
        display: flex;
        line-height: 24px;
        gap: 0.5rem;
        text-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: var(--ent-tab-active-bg);
      }
      &.active {
        background-color: var(--ent-tab-active-bg);
        
        > .ent-tab-close {
          display: flex;
          padding: 0.5rem;
          width: fit-content;
          border-inline-start: $border;
        }
      }

      .ent-tab-close {

        border-inline-start: $border;
        border-color: transparent;
        overflow: hidden;
        width: 0;
        padding: 0.675rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .ent-tab-action {
        display: flex;
        padding: 0.5rem;
        width: fit-content;

        border-inline-start: $border;
        border-color: transparent;
        overflow: hidden;
        align-items: center;
        justify-content: center;

      }
    }

    > .ent-tab-item-vertical {

      > .ent-tab-content {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
      }


    }

    > .ent-tab-item-horizontal {
      > .ent-tab-content {
        flex-direction: row;

      }

    }

  }


  > .ent-tab-panel-container {
    flex-grow: 1;
    overflow: hidden;
    transition: all 0.25s ease-in;

    &.active {
      transition: all 0.25s ease-in;
    }
  }
}

.ent-tab-horizontal {
  flex-direction: row;

  > .ent-tab-item-container {
    flex-direction: column;


    > * {
      border-bottom: $border;
    }
  }

  > .ent-tab-item-container-message {
    padding: 0.625rem 1.5rem;
    writing-mode: sideways-rl;
    > * {
      transform: rotate(90deg);
    }
  }

  > .ent-tab-panel-container {
    border-inline-start: $border;
  }
}

.ent-tab-vertical {
  flex-direction: column;


  > .ent-tab-item-container {
    flex-direction: row;
    border-bottom: $border;
    > * {
      border-inline-end: $border;
    }
  }

  > .ent-tab-item-container-message {
    border-bottom: $border;
    padding: 0.625rem 1rem;
  }
}

.ent-tab-panel {
  display: none;
}

.ent-tab-panel.active {
  display: block;
}