.ent-icon {
  font-size: 1rem;
  color: var(--ent-color-body);
  fill: var(--ent-color-body);
}
.ent-icon-size-xs {
  font-size: 0.75rem;
}
.ent-icon-size-sm {
  font-size: 0.875rem;
}
.ent-icon-size-lg {
  font-size: 1.25rem;
}
.ent-icon-size-xl {
  font-size: 1.5rem;
}
.ent-icon-size-x2 {
  font-size: 2rem;
}
.ent-icon-size-x3 {
  font-size: 3rem;
}
.ent-icon-size-x4 {
  font-size: 4rem;
}
.ent-icon-size-x5 {
  font-size: 5rem;
}
.ent-icon-size-x6 {
  font-size: 6rem;
}
.ent-icon-size-x7 {
  font-size: 7rem;
}
.ent-icon-size-x8 {
  font-size: 8rem;
}
.ent-icon-size-x9 {
  font-size: 9rem;
}
.ent-icon-size-x10 {
  font-size: 10rem;
}