:root {
  --ent-toolbar-space-y: var(--ent-size-xs);
  --ent-toolbar-space-x: var(--ent-size-md);
  --ent-toolbar-space-b: var(--ent-size-xs);
  --ent-toolbar-z-index: var(--ent-z-index-tertiary);
  --ent-toolbar-bg: var(--ent-bg-body);
  --ent-toolbar-border-width: var(--ent-border-width);
  --ent-toolbar-border-style: var(--ent-border-style);
  --ent-toolbar-border-color: var(--ent-stroke-base);
  --ent-toolbar-border-radius: var(--ent-border-radius);
  --ent-toolbar-box-shadow: var(--ent-shadow);
}

.ent-toolbar {
  padding: var(--ent-toolbar-space-y) var(--ent-toolbar-space-x);
  background-color: var(--ent-toolbar-bg);
  box-shadow: var(--ent-toolbar-box-shadow);
  z-index: var(--ent-toolbar-z-index);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var( --ent-toolbar-space-b);
}

