
:root {
    //input 
    --ent-input-bg: var(--ent-bg-tertiary);
    --ent-input-popover-bg: var(--ent-bg-secondary);
    --ent-input-color: var(--ent-color-body);
    --ent-input-border-color: var(--ent-border-color);
    --ent-input-border-size: var(--ent-border-width);
    --ent-input-border-style: solid;
    --ent-input-border-radius: var(--ent-border-radius);
    --ent-input-space-y: .625rem;
    --ent-input-space-x: 1rem;

    --ent-input-space-y-lg: 1rem;
    --ent-input-space-x-lg: 1rem;
    --ent-input-icon-color: var(--ent-color-secondary);
}


// input
.ent-input {
    width: 100%;
    border: var(--ent-input-border-size) solid var(--ent-input-border-color);
    border-radius: var(--ent-card-border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--ent-input-bg);
    color: var(--ent-input-color);
    > .ent-input-field {
        flex-grow: 1;
        padding: var(--ent-input-space-y) var(--ent-input-space-x);
        border: 0;
        outline: 0;
        background-color: transparent;
        color: var(--ent-input-color);
    }

    > .ent-input-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--ent-input-space-y) var(--ent-input-space-x);
        color: var(--ent-input-icon-color);
    }
}



.ent-input.ent-input-lg {
    > .ent-input-field {
        padding: var(--ent-input-space-y-lg) var(--ent-input-space-x-lg);
        font-size: map-get($font-sizes, "title");
    }
}

// input-autocomplete

.ent-input-autocomplete {
    border-radius: var(--ent-card-border-radius);
    overflow: hidden;
}

.ent-input-autocomplete-container {
    margin-top: 0.25rem;
    background-color: var(--ent-input-popover-bg);

    > .ent-input-autocomplete-list {
        background-color: var(--ent-input-popover-bg);
        max-height: 10rem;
        overflow-y: scroll;
    }

    > .ent-input-autocomplete-message {
        padding: 0;
        margin: 0;
    }
}

// select

.ent-select {
    border: $border;
    cursor: pointer;
    min-width: 300px;
    overflow: hidden;
    border-radius: var(--ent-card-border-radius);
    > .ent-select-input {
        border: 0;

        .ent-select-input-placeholder {
            font-size: map-get($font-sizes,"description");
            color:$color-light;
        }
    }
}
.ent-select-container {
    margin-top: 0.25rem;
    background-color: var(--ent-input-popover-bg);

    > .ent-select-list {
        max-height: 10rem;
        overflow-y: scroll;
        background-color: var(--ent-input-popover-bg);
    }

    > .ent-select-message {
        padding: 0;
        margin: 0;
    }
}

// validation

.ent-input-validation {

    &.modified.valid {
        //border-color: $color-neutral-300;
    }

    &.modified.invalid {
        border-color: $color-red-300;
    }
}

.ent-input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > .ent-input-group-label {
        font-size: map-get($font-sizes, "medium");
        font-weight: 500;
    }


    > .ent-input-group-validation {
        font-size: map-get($font-sizes, "subtitle");
        color: $color-red-500;

    }
}