
:root {
  --ent-drawer-z-index: var(--ent-z-index-5);
  --ent-drawer-bg: var(--ent-bg-base);
  --ent-drawer-box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.05);
  --ent-drawer-border-color: var(--ent-border-color);
  --ent-drawer-border-width: var(--ent-border-width);
  --ent-drawer-border-style: var(--ent-border-style);
  --ent-drawer-width: auto;
}

.ent-drawer-container {
  position: relative;
  overflow: hidden;
  > .ent-drawer {
    position: absolute;
    bottom: 0;
    top: 0;
 
    background-color: var(--ent-drawer-bg);
    z-index: var(--ent-drawer-z-index);
    box-shadow: var(--ent-drawer-box-shadow);
    width: var(--ent-drawer-width);

   
    &.ent-drawer--direction-start {

      border-inline-end: var(--ent-drawer-border-width) var(--ent-drawer-border-style) var(--ent-drawer-border-color);

      &.ent-drawer--mode-behavior {
        &.ent-drawer--open {
          inset-inline-start: 0;
          transition: inset-inline-start 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
            margin-inline-start: var(--ent-drawer-width);;
          }
        }

        &.ent-drawer--close {
          inset-inline-start: calc(-1 * var(--ent-drawer-width));
          transition: inset-inline-start 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
            margin-inline-start: 0;
          }
        }
      }

      &.ent-drawer--mode-overlay {
        &.ent-drawer--open {
          inset-inline-start: 0;
          transition: inset-inline-start 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
          }
        }

        &.ent-drawer--close {
          inset-inline-start: calc(-1 * var(--ent-drawer-width));
          transition: inset-inline-start 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
          }
        }
      }
    }

    &.ent-drawer--direction-end {

      border-inline-start: var(--ent-drawer-border-width) var(--ent-drawer-border-style) var(--ent-drawer-border-color);

      &.ent-drawer--mode-behavior {
        &.ent-drawer--open {
          inset-inline-end: 0;
          transition: inset-inline-end 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
            margin-inline-end: var(--ent-drawer-width);;
          }
        }

        &.ent-drawer--close {
          inset-inline-end: calc(-1 * var(--ent-drawer-width));
          transition: inset-inline-end 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
            margin-inline-end: 0;
          }
        }
      }

      &.ent-drawer--mode-overlay {
        &.ent-drawer--open {
          inset-inline-end: 0;
          transition: inset-inline-end 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
          }
        }

        &.ent-drawer--close {
          inset-inline-end: calc(-1 * var(--ent-drawer-width));
          transition: inset-inline-end 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          & ~ div:not(.ent-drawer) {
          }
        }
      }
    }

  }

  > .ent-drawer-transparent {
    background-color: transparent !important;
  }
  > .ent-drawer-fixed {
    --ent-drawer-z-index: var(--ent-z-index-7);
    position: fixed;
  }
  > .ent-drawer-fixed ~ .ent-drawer-overlay  {
    z-index: calc(var(--ent-z-index-7) - 1);
    position: fixed;
  }
  > .ent-drawer-overflow-hidden {
      overflow: hidden;
  }
}

.ent-drawer-overlay {
  z-index: calc(var(--ent-drawer-z-index) - 1);
}
    