@inherits EntBaseComponent
@namespace Enter.UI.Components
@typeparam TValue
<div @attributes="@AdditionalAttributes" class="@RootClass" >
    <label >@Label</label>
    @ChildContent
    <ValidationMessage  For="@For" />
</div>

