.ent-btn {
    padding: 0.5rem 1rem;
    border: 0;
    background-color:transparent;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &.ent-btn-sm {
        padding: .4rem 0.8rem;
        font-size: map-get($font-sizes, "description");
    }

    &.ent-btn-lg {
        padding: 0.6rem 1.2rem;
        font-size: map-get($font-sizes, "caption");
    }
}
