

:root {
  --ent-drawer-width : 20rem;
  --ent-drawer-z-index: var(--ent-z-index-secondary);
  --ent-drawer-bg: var(--ent-bg-body);
  --ent-drawer-box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.05);
  --ent-drawer-border-color: var(--ent-border-color);
  --ent-drawer-border-width: var(--ent-border-width);
  --ent-drawer-border-style: var(--ent-border-style);
}

.ent-drawer-container {
  overflow: hidden;
  position: relative;
  
  > .ent-drawer {
    width: var(--ent-drawer-width);
    position: absolute;
    bottom: 0;
    top: 0;
    transition: all 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    background-color: var(--ent-drawer-bg);
    z-index: 10;
    box-shadow: var(--ent-drawer-box-shadow);
    &.ent-drawer--direction-start{

      border-inline-end: var(--ent-drawer-border-width) var(--ent-drawer-border-style) var(--ent-drawer-border-color);
 
      &.ent-drawer--mode-behavior {
        &.ent-drawer--open {
          inset-inline-start: 0;

          &~ div:not(.ent-drawer) {
            margin-inline-start: var(--ent-drawer-width);;
            transition: all 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          }
        }

        &.ent-drawer--close {
          inset-inline-start: calc(-1*var(--ent-drawer-width));

          &~ div:not(.ent-drawer) {
            margin-inline-start: 0;
            transition: all 225ms cubic-bezier(0,0,.2,1) 0ms;
          }
        }  
      }
      &.ent-drawer--mode-overlay {
        &.ent-drawer--open {
          inset-inline-start: 0;

          &~ div:not(.ent-drawer) {
            transition: all 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          }
        }

        &.ent-drawer--close {
          inset-inline-start: calc(-1*var(--ent-drawer-width));

          &~ div:not(.ent-drawer) {
            transition: all 225ms cubic-bezier(0,0,.2,1) 0ms;
          }
        }
      }
    }

    &.ent-drawer--direction-end{

      border-inline-start: var(--ent-drawer-border-width) var(--ent-drawer-border-style) var(--ent-drawer-border-color);
      
      &.ent-drawer--mode-behavior {
        &.ent-drawer--open {
          inset-inline-end: 0;

          &~ div:not(.ent-drawer) {
            margin-inline-end: var(--ent-drawer-width);;
            transition: all 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          }
        }

        &.ent-drawer--close {
          inset-inline-end: calc(-1*var(--ent-drawer-width));

          &~ div:not(.ent-drawer) {
            margin-inline-end: 0;
            transition: all 225ms cubic-bezier(0,0,.2,1) 0ms;
          }
        }
      }
      &.ent-drawer--mode-overlay {
        &.ent-drawer--open {
          inset-inline-end: 0;

          &~ div:not(.ent-drawer) {
            transition: all 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
          }
        }

        &.ent-drawer--close {
          inset-inline-end: calc(-1*var(--ent-drawer-width));

          &~ div:not(.ent-drawer) {
            transition: all 225ms cubic-bezier(0,0,.2,1) 0ms;
          }
        }
      }
    }
    
  }
  
  
}