@keyframes expand-height-anim {
  from {
    height: 0;
  }
}

@keyframes collapse-height-anim {
  to {
    height: 0;
  }
}


@keyframes expand-width-anim {
  from {
    width: 0;
  }
}

@keyframes collapse-width-anim {
  to {
    width: 0;
  }
}

.ent-expandable {
  overflow: hidden;

  &.ent-expandable-vertical.ent-expandable-opened {
    height: auto;
  }

  &.ent-expandable-vertical.ent-expandable-closed {
    height: 0;
  }

  &.ent-expandable-horizontal.ent-expandable-opened {
    width: auto;
  }

  &.ent-expandable-horizontal.ent-expandable-closed {
    width: 0;
  }

  &.ent-expandable-vertical.ent-expandable-opening {
    animation: expand-height-anim 0.25s ease-in-out 0ms 1 forwards;
  }

  &.ent-expandable-vertical.ent-expandable-closing {
    animation: collapse-height-anim 0.25s ease-in-out 0ms 1 forwards;
  }

  &.ent-expandable-horizontal.ent-expandable-opening {
    animation: expand-width-anim 0.25s ease-in-out 0ms 1 forwards;
  }

  &.ent-expandable-horizontal.ent-expandable-closing {
    animation: collapse-width-anim 0.25s ease-in-out 0ms 1 forwards;
  }
}
