@using Enter.Ui.Components.Button
@using Enter.Ui.Components.Icon
@inherits Enter.Ui.Cores.Bases.EntComponentBase
@namespace Enter.Ui.Components
<div @attributes="@AdditionalAttributes" class="@cssClass">
    @if (ShowBack)
    {
        <EntButton @onclick="ToggleClick" Appearance="ButtonAppearance.Outline" Icon="EntIconName.ChevronRight"/>
    }
    @if (ShowToggle)
    {
        <EntButton @onclick="ToggleClick" Appearance="ButtonAppearance.Outline" Icon="EntIconName.Bars"/>
    }
    <b class="ent-app-bar-title">@Title</b>
    <div class="ent-app-bar-content">@ChildContent</div>
</div>

@code {

    protected string cssClass => CssBuilder
        .AddCss("ent-appbar")
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback ToggleClick { get; set; }

    [Parameter]
    public bool ShowToggle { get; set; } = false;

    [Parameter]
    public bool ShowBack { get; set; } = false;

    [Parameter]
    public string Title { get; set; }

    public override void Dispose()
    {
    }

}