@using Enter.Ui.Components.Button
@using Enter.Ui.Components.Icon
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent
@namespace Enter.Ui.Components
<div @attributes="@AdditionalAttributes" class="@ClassNames">
    @if (ShowBack)
    {
        <EntButton @onclick="ToggleClick" Appearance="ButtonAppearance.Outline" Icon="EntIconName.ChevronRight"/>
    }
    @if (ShowToggle)
    {
        <EntButton @onclick="ToggleClick" Appearance="ButtonAppearance.Outline" Icon="EntIconName.Bars"/>
    }
    <b class="ent-app-bar-title">@Title</b>
    <div class="ent-app-bar-content">@ChildContent</div>
</div>

@code {

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-appbar");
        base.BuildClasses(builder);
    }


    [Parameter]
    public EventCallback ToggleClick { get; set; }

    [Parameter]
    public bool ShowToggle { get; set; } = false;

    [Parameter]
    public bool ShowBack { get; set; } = false;

    [Parameter]
    public string Title { get; set; }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}