@namespace Enter.UI.Components
<div  @attributes="AdditionalAttributes" class="@RootCss">@ChildContent</div>
@inherits EntComponentBase
@code {


    public string RootCss => CssClassBuilder
        .AddClass($"d-division")
        .Build();
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}