@namespace Enter.Ui.Components
<div @attributes="AdditionalAttributes" class="@ClassNames">@ChildContent</div>
@inherits Enter.Ui.Bases.EntComponentBase

@code {


    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("d-division");
        base.BuildClasses(builder);
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}