@namespace Enter.Ui.Components
<div @attributes="AdditionalAttributes" class="@ClassNames">@ChildContent</div>
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent

@code {

    public override string ComponentName => this.GetType().Name;
    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("d-division");
        base.BuildClasses(builder);
    }


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}