@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "components/components";
@import "_core.scss";

html,
body {
  color: map-get($map: $colors, $key: mute);
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

[dir="rtl"] body {
  direction: rtl;
}


p {
  margin-bottom: map-get($font-sizes, "medium");
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: map-get($font-sizes, "title-lg");
}

h2 {
  font-size: map-get($font-sizes, "title");
}

h3 {
  font-size: map-get($font-sizes, "title-sm");
}

h4 {
  font-size: map-get($font-sizes, "medium-lg");
}

h5 {
  font-size: map-get($font-sizes, "medium")
}

h6 {
  font-size: map-get($font-sizes, "medium-sm")
}

small, .text_small {
  font-size: map-get($font-sizes, "subtitle")
}


.cursor-pointer {
  cursor: pointer;
}

.ent-rtl {


  text-align: right !important;
  direction: rtl !important;
}

.ent-ltr {

  direction: ltr !important;
  text-align: left !important;
 
}




