@import "themes/basic.theme";
@import "themes/dark.theme";

@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "components/components";
@import "_core.scss";

html,
body {
  box-sizing: border-box;
  background-color: var(--ent-color-deeplight);
  color: var(--ent-color-text);
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

[dir="rtl"] body {
  direction: rtl;
}

.ent-ui {
  box-sizing: border-box;
  background-color: var(--ent-color-deeplight);
  color: var(--ent-color-text);
  font-size: $font-size;
}

p {
  margin-bottom: map-get($font-sizes, "medium");
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: map-get($font-sizes, "title-lg");
}

h2 {
  font-size: map-get($font-sizes, "title");
}

h3 {
  font-size: map-get($font-sizes, "title-sm");
}

h4 {
  font-size: map-get($font-sizes, "medium-lg");
}

h5 {
  font-size: map-get($font-sizes, "medium")
}

h6 {
  font-size: map-get($font-sizes, "medium-sm")
}

small, .text_small {
  font-size: map-get($font-sizes, "subtitle")
}


.cursor-pointer {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background-color: $color-deeplight;
}
.ent-rtl {


  text-align: right !important;
  direction: rtl !important;
}

.ent-ltr {

  direction: ltr !important;
  text-align: left !important;
 
}




