@namespace Enter.UI.Components
@using Enter.UI.Services.Contracts
@using Enter.UI.Services
@inherits EntBaseComponent

<div class="@RootClass" @onclick:stopPropagation="true" @onclick="OnPopoverContainerClick">
    @foreach (var item in _entPopoverService.PopoverInstances)
    {
        <div @onclick="() => { }" class="@item.Value.PopoverClass" id="@($"ent-popover-content-{item.Key}")">
            @if (item.Value.ShowContent)
            {
                @item.Value.ContentFragment
            }
        </div>
    }
</div>

@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-popover-provider")
        .Build();

    [Inject]
    public IEntPopoverService EntPopoverService { get; set; }
    

    private EntPopoverService _entPopoverService = default!;
    

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _entPopoverService = (EntPopoverService)EntPopoverService;

        _entPopoverService.FragmentsChanged += EntPopoverServiceOnFragmentsChanged;
    }

    private void EntPopoverServiceOnFragmentsChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }

    private async Task OnPopoverContainerClick(MouseEventArgs arg)
    {
        // await EntPopoverService.CloseAllAsync();
    }

}