@inherits EntBaseComponent
@namespace Enter.UI.Components

<div @attributes="@Attributes" class="@RootCss"   >
@if (Parent.KeepPanelAlive)
{
    
        @ChildContent
    
}else
{
    @if (Parent.IsActivePanel(Id))
    {
        @ChildContent
    }
}
</div>






