@namespace Pro.UI.Components.Inputs
<button class="pro-button @SizeClass ">@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    [Parameter]
    public ButtonSize Size { get; set; }

    public string SizeClass
    {
        get
        {
            return Size switch
            {
                ButtonSize.Default => "",
                ButtonSize.Small => "pro-button-sm",
                ButtonSize.Large => "pro-button-lg",
            };
        }
    }

    public enum ButtonSize
    {
        Default, Small, Large
    }
}