@namespace Enter.UI.Components
<div class="@RootCss">@ChildContent</div>
@inherits EntBaseComponent
@code {

    public string RootCss => CssClassBuilder
        .AddClass("d-flex")
        .AddClass("flex-row",Direction == FlexDirection.Row)
        .AddClass("flex-column",Direction == FlexDirection.Column)
        .AddClass("items-center justify-centert",Align == FlexAlign.Center)
        .AddClass("items-center justify-start",Align == FlexAlign.StartCenter)
        .AddClass("items-center justify-end",Align == FlexAlign.EndCenter)
        .AddClass("items-center justify-end",Align == FlexAlign.EndCenter)
        .Build();
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public FlexDirection Direction { get; set; } = FlexDirection.Row;
    
    [Parameter]
    public FlexAlign Align { get; set; } = FlexAlign.None;

    public enum FlexDirection
    {
        Row,Column
    }
    
    
    public enum FlexAlign
    {
        None,Center , StartCenter , EndCenter
    }
}