/* _content/Enter.Ui/Components/Buttons/EntButton.razor.rz.scp.css */
/* 
todo: 
  1- disable button
  2- focus button
*/
.ent-btn[b-94pd8v3y4o] {
  --ent-btn-bg: var(--ent-bg-neutral);
  --ent-btn-bg-hover: var(--ent-bg-neutral-highlight);
  --ent-btn-bg-active: var(--ent-bg-neutral-emphasis);
  --ent-btn-fg: var(--ent-fg-base);
  --ent-btn-fg-hover: var(--ent-fg-base-highlight);
  --ent-btn-fg-active: var(--ent-fg-base-emphasis);
  --ent-btn-stroke: var(--ent-border-color);
  --ent-btn-stroke-width: var(--ent-border-1);
  --ent-btn-border-radius: var(--ent-border-radius-2);
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0;
  font-size: var(--ent-btn-font-size);
  line-height: var(--ent-btn-line-height);
  background-color: var(--ent-btn-bg);
  color: var(--ent-btn-fg);
  border: var(--ent-btn-stroke-width) solid var(--ent-btn-stroke);
  outline-style: none;
  padding: calc(var(--ent-btn-space-y) - var(--ent-btn-stroke-width)) calc(var(--ent-btn-space-x) - var(--ent-btn-stroke-width));
  border-radius: var(--ent-btn-border-radius);
  cursor: pointer;
  transition: var(--ent-transition-all);
  overflow: hidden;
}
.ent-btn:disabled[b-94pd8v3y4o] {
  cursor: not-allowed;
  --ent-btn-bg: var(--ent-bg-disabled, rgba(9, 30, 66, 0.04)) !important;
  --ent-btn-fg: var(--ent-fg-disabled) !important;
}
.ent-btn:not(:disabled):hover[b-94pd8v3y4o] {
  background: var(--ent-btn-bg-hover);
  color: var(--ent-btn-fg-hover);
}
.ent-btn:not(:disabled):hover[b-94pd8v3y4o]  .ent-btn-icon {
  color: var(--ent-btn-fg-hover) !important;
}
.ent-btn:not(:disabled):active[b-94pd8v3y4o] {
  background: var(--ent-btn-bg-active);
  color: var(--ent-btn-fg-active);
}
.ent-btn:not(:disabled):active[b-94pd8v3y4o]  .ent-btn-icon {
  color: var(--ent-btn-fg-active) !important;
}
.ent-btn.ent-btn-only-icon[b-94pd8v3y4o] {
  min-width: unset;
  --ent-btn-space-x: var(--ent-btn-space-y);
}
.ent-btn.ent-btn-only-icon .icon-wrapper[b-94pd8v3y4o] {
  margin: 0;
}
.ent-btn .icon-wrapper[b-94pd8v3y4o] {
  width: var(--ent-btn-line-height);
  height: var(--ent-btn-line-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 6px;
  transition: var(--ent-transition-all);
}

.ent-btn-primary[b-94pd8v3y4o] {
  --ent-btn-bg: var(--ent-bg-primary);
  --ent-btn-bg-hover: var(--ent-bg-primary-highlight);
  --ent-btn-bg-active: var(--ent-bg-primary-emphasis);
  --ent-btn-fg: var(--ent-fg-light);
  --ent-btn-fg-hover: var(--ent-fg-light-highlight);
  --ent-btn-fg-active: var(--ent-fg-light-emphasis);
  --ent-btn-stroke: var(--ent-stroke-primary);
  --ent-btn-stroke-hover: var(--ent-stroke-primary-highlight);
  --ent-btn-stroke-active: var(--ent-stroke-primary-emphasis);
}

.ent-btn-outline[b-94pd8v3y4o] {
  --ent-btn-bg: transparent;
  --ent-btn-fg: var(--ent-fg-base);
  --ent-btn-stroke: var(--ent-stroke-base);
}

.ent-btn-outline.ent-btn-primary[b-94pd8v3y4o] {
  --ent-btn-bg: transparent;
  --ent-btn-fg: var(--ent-fg-primary);
  --ent-btn-stroke: var(--ent-stroke-primary);
}

.ent-btn-ghost[b-94pd8v3y4o] {
  --ent-btn-bg: transparent;
  --ent-btn-fg: var(--ent-fg-base);
  --ent-btn-stroke: transparent;
}

.ent-btn-ghost.ent-btn-primary[b-94pd8v3y4o] {
  --ent-btn-bg: transparent;
  --ent-btn-fg: var(--ent-fg-primary);
  --ent-btn-stroke: transparent;
}

.ent-btn-size-sm[b-94pd8v3y4o] {
  --ent-btn-space-x: var(--ent-space-3);
  --ent-btn-space-b: var(--ent-space-2);
  --ent-btn-space-y: var(--ent-space-1_5);
  --ent-btn-font-size: var(--ent-typo-font-size-sm);
  --ent-btn-line-height: var(--ent-typo-line-height-sm);
}

.ent-btn-size-md[b-94pd8v3y4o] {
  --ent-btn-space-x: var(--ent-space-3);
  --ent-btn-space-b: var(--ent-space-2);
  --ent-btn-space-y: var(--ent-space-2);
  --ent-btn-font-size: var(--ent-typo-font-size-md);
  --ent-btn-line-height: var(--ent-typo-line-height-md);
}

.ent-btn-size-lg[b-94pd8v3y4o] {
  --ent-btn-space-x: var(--ent-space-4);
  --ent-btn-space-b: var(--ent-space-2);
  --ent-btn-space-y: var(--ent-space-2_5);
  --ent-btn-font-size: var(--ent-typo-font-size-lg);
  --ent-btn-line-height: var(--ent-typo-line-height-lg);
}

[b-94pd8v3y4o] .ent-btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--ent-btn-font-size) !important;
  width: var(--ent-btn-font-size) !important;
  height: var(--ent-btn-font-size) !important;
  color: var(--ent-btn-fg) !important;
}

/*# sourceMappingURL=EntButton.razor.css.map */
/* _content/Enter.Ui/Components/Icon/EntIcon.razor.rz.scp.css */
.ent-icon[b-kvya8v3ajr] {
  font-size: var(--ent-font-size);
  height: var(--ent-size-md);
  width: var(--ent-size-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ent-color-body);
  fill: var(--ent-color-body);
}

.ent-icon-size-sm[b-kvya8v3ajr] {
  font-size: var(--ent-font-size-sm);
  height: var(--ent-size-sm);
  width: var(--ent-size-sm);
}

.ent-icon-size-lg[b-kvya8v3ajr] {
  font-size: var(--ent-font-size-lg);
  height: var(--ent-size-lg);
  width: var(--ent-size-lg);
}

/*# sourceMappingURL=EntIcon.razor.css.map */
/* _content/Enter.Ui/Components/Modal/EntModal.razor.rz.scp.css */


/*# sourceMappingURL=EntModal.razor.css.map */
/* _content/Enter.Ui/Components/Toast/EntToast.razor.rz.scp.css */
.ent-responsive.ent-toast[b-s875hmw6qv] {
  width: 100% !important;
  margin-bottom: 0 !important;
  animation: responsive-toast-anim-b-s875hmw6qv 0.5s !important;
}

.ent-toast[b-s875hmw6qv] {
  display: flex;
  position: relative;
  flex-direction: row;
  animation: toast-anim-b-s875hmw6qv 0.5s;
  margin-bottom: 1rem;
  padding: var(--ent-space-4);
  color: var(--ent-fg-base);
  width: 20rem;
  border-radius: var(--ent-border-radius-1);
  box-shadow: var(--ent-shadow-lg);
  background-color: var(--ent-bg-neutral);
  align-items: center;
  border: var(--ent-border-1) solid var(--ent-border-color);
}

.ent-toast-component[b-s875hmw6qv] {
  display: initial;
  padding: 0 0 0 0;
}

.ent-toast .ent-toast-progressbar[b-s875hmw6qv] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ent-space-1);
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.ent-toast .ent-toast-progressbar > span[b-s875hmw6qv] {
  position: absolute;
  filter: brightness(75%);
  height: var(--ent-space-0_5);
  border-bottom-left-radius: 0.375rem;
  background: var(--ent-bg-primary);
  transition: all 0.1s linear;
}

.ent-toast-info .ent-toast-progressbar > span[b-s875hmw6qv] {
  background-color: #2563eb;
}

.ent-toast-info .ent-toast-icon[b-s875hmw6qv] {
  color: #2563eb;
}

.ent-toast-success .ent-toast-progressbar > span[b-s875hmw6qv] {
  background-color: #16a34a;
}

.ent-toast-success .ent-toast-icon[b-s875hmw6qv] {
  color: #16a34a;
}

.ent-toast-warning .ent-toast-progressbar > span[b-s875hmw6qv] {
  background-color: #eab308;
}

.ent-toast-warning .ent-toast-icon[b-s875hmw6qv] {
  color: #eab308;
}

.ent-toast-error .ent-toast-progressbar > span[b-s875hmw6qv] {
  background-color: #dc2626;
}

.ent-toast-error .ent-toast-icon[b-s875hmw6qv] {
  color: #dc2626;
}

.ent-toast-icon[b-s875hmw6qv] {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 0 0 0;
  padding-inline-end: 1rem;
  font-size: 1.5rem;
}

.ent-toast .ent-toast-message[b-s875hmw6qv] {
  flex-grow: 1;
  margin-bottom: 0;
  font-weight: 500;
  font-size: var(--ent-typo-font-size-sm);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}

.ent-toast .ent-toast-close[b-s875hmw6qv] {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 0 0 0;
  padding-inline-start: 1rem;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  color: #94a3b8;
  font-size: 0.9rem;
}

.ent-toast .ent-toast-close:hover[b-s875hmw6qv] {
  color: inherit;
}

.ent-toast-action[b-s875hmw6qv] {
  cursor: pointer;
}

@keyframes fadein-b-s875hmw6qv {
  from {
    opacity: 0;
    margin-bottom: -1rem;
  }
  to {
    opacity: 1;
    margin-bottom: 1rem;
  }
}
@keyframes toast-anim-b-s875hmw6qv {
  from {
    opacity: 0;
    margin-bottom: -1rem;
  }
  to {
    opacity: 1;
    margin-bottom: 1rem;
  }
}
@keyframes responsive-toast-anim-b-s875hmw6qv {
  from {
    opacity: 0;
    margin-bottom: -2rem;
  }
  to {
    opacity: 1;
    margin-bottom: 0rem;
  }
}

/*# sourceMappingURL=EntToast.razor.css.map */
/* _content/Enter.Ui/Components/Toast/EntToastProviders.razor.rz.scp.css */
.ent-responsive.ent-toast-container[b-i8yqq9og84] {
  bottom: 0 !important;
  left: 0;
  right: 0;
}

.ent-toast-container[b-i8yqq9og84] {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
}

.position-topleft[b-i8yqq9og84] {
  top: 2rem;
  left: 2rem;
}

.position-topright[b-i8yqq9og84] {
  top: 2rem;
  right: 2rem;
}

.position-topcenter[b-i8yqq9og84] {
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.position-bottomleft[b-i8yqq9og84] {
  bottom: 2rem;
  left: 2rem;
}

.position-bottomright[b-i8yqq9og84] {
  bottom: 2rem;
  right: 2rem;
}

.position-bottomcenter[b-i8yqq9og84] {
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.ent-toast[b-i8yqq9og84] {
  width: 30rem;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=EntToastProviders.razor.css.map */
