@each $utility, $config in $utilities {
  $properties: map-get($config, property);
  $propertiesRtl: map-get($config, propertyRtl);
  $cssName: map-get($config, cssName);
  $values: map-get($config, values);

  @each $size, $value in $values { 
    @if $size != null {
      $size: -#{$size};
    } @else {
      $size: "";
    }
    .#{$cssName}#{$size} {
      @each $property in $properties {
        #{$property}: $value !important;
      }
    }

    [dir="rtl"] .#{$cssName}#{$size} {
      @each $property in $propertiesRtl {
        #{$property}: $value !important;
      }
    }
    .rtl\:#{$cssName}#{$size} {
      @each $property in $propertiesRtl {
        #{$property}: $value !important;
      }
    }
  }

  @if map-get($config, breakpoint) {
    @each $bp, $width in $breakpoints {
      @media (min-width: $width) {
        @each $size, $value in $values {
          @if $size != null {
            $size: -#{$size};
          } @else {
            $size: "";
          }

          .#{$bp}\:#{$cssName}#{$size} {
            @each $property in $properties {
              #{$property}: $value !important;
            }
          }

          [dir="rtl"] .#{$bp}\:#{$cssName}#{$size} {
            @each $property in $propertiesRtl {
              #{$property}: $value !important;
            }
          }

          .rtl\:#{$bp}\:#{$cssName}#{$size} {
            @each $property in $propertiesRtl {
              #{$property}: $value !important;
            }
          }
        }
      }
    }
  }
}
