@import "_normalize.scss";
@import "_variables.scss";
@import "_core.scss";
@import "_mixins.scss";
html,
body {
  font-size: $font-size;
  color: map-get($map: $colors, $key: mute);
}

* {
  box-sizing: border-box !important;
}
[dir="rtl"] body {
  direction: rtl;
}

.cursor-pointer {
  cursor: pointer;
}



.divider-x > * {
  border-inline-end: $border-width $border-style $border-color;
}

.divider-x > *:last-child {
  border-inline-end: 0;
}

.divider-y > * {
  border-bottom: $border-width $border-style $border-color;
}

.divider-y > *:last-child {
  border-bottom: 0;
}

.border-x > * {
  border-inline-end: $border-width $border-style $border-color;
}

.border-y > * {
  border-bottom: $border-width $border-style $border-color;
}



@import "components/components";