@namespace Enter.UI.Components
@inherits Enter.UI.Cores.Bases.EntComponentBase
<div
    @ref="Reference"
    @onanimationend="EventUtil.AsNonRenderingEventHandler(OnAnimationEndCallback)"
    @onanimationstart="EventUtil.AsNonRenderingEventHandler(OnAnimationStartCallback)"
    class="@RootCss"
    style="@RootStyle"
    id="@Id">
    @ChildContent
</div>