@inherits EntElementComponent
@namespace Enter.Ui.Components
@using Enter.Ui.Bases
<div 
    @ref="Reference"
    @onanimationend="EventUtil.AsNonRenderingEventHandler(OnAnimationEndCallback)"
    @onanimationstart="EventUtil.AsNonRenderingEventHandler(OnAnimationStartCallback)"
    class="@ClassNames"
    style="@StyleNames"
    id="@Id">
    @ChildContent
</div>