@namespace Enter.UI.Components
@using Enter.UI.Components.Shimmer
@inherits Enter.UI.Cores.Bases.EntComponentBase
<span @attributes="@AdditionalAttributes" class="@RootClass" style="@RootStyle">
</span>

@code {

    private string RootClass => CssBuilder
        .AddCss("ent-shimmer")
        .AddCss("ent-shimmer-pulse", Effect == EntShimmerEffect.Pulse)
        .AddCss("ent-shimmer-wave", Effect == EntShimmerEffect.Wave)
        .AddCss("ent-shimmer-rectangle", Type == EntShimmerType.Rectangle)
        .AddCss("ent-shimmer-circular", Type == EntShimmerType.Circular)
        .Build();

    private string RootStyle => StyleBuilder
        .AddStyle($"width: {Width}", Width != null)
        .AddStyle($"height: {Height}", Height != null)
        .Build();

    [Parameter]
    public string? Width { get; set; }

    [Parameter]
    public string? Height { get; set; }

    [Parameter]
    public EntShimmerType Type { get; set; } = EntShimmerType.Rectangle;

    [Parameter]
    public EntShimmerEffect Effect { get; set; } = EntShimmerEffect.Pulse;


    public override void Dispose()
    {
    }

}