@namespace Enter.Ui.Components
@using Enter.Ui.Components.Shimmer
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent
<span @attributes="@AdditionalAttributes" class="@ClassNames" style="@StyleNames">
</span>

@code {

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-shimmer")
            .AddClass("ent-shimmer-pulse", Effect == EntShimmerEffect.Pulse)
            .AddClass("ent-shimmer-wave", Effect == EntShimmerEffect.Wave)
            .AddClass("ent-shimmer-rectangle", Type == EntShimmerType.Rectangle)
            .AddClass("ent-shimmer-circular", Type == EntShimmerType.Circular);
        
        base.BuildClasses(builder);
    }

    protected override void BuildStyles(StyleBuilder builder)
    {
        builder.AddStyle($"width: {Width}", Width != null)
            .AddStyle($"height: {Height}", Height != null);
        base.BuildStyles(builder);
    }

    [Parameter]
    public string? Width { get; set; }

    [Parameter]
    public string? Height { get; set; }

    [Parameter]
    public EntShimmerType Type { get; set; } = EntShimmerType.Rectangle;

    [Parameter]
    public EntShimmerEffect Effect { get; set; } = EntShimmerEffect.Pulse;


  

}